{% extends 'base.html' %}

{% load static %}

{% block title_meta %}

    <title>E-Cell NITK | TEAM</title>
    <meta name="description" content="" />
    
{% endblock %}

{% block hero %}
    <br>
   <div class="text-center col-12 mb-5">
          <h1 id="team_name">
            THE TEAM
          </h1>
        </div>

{% endblock %}

{% block body %}

<section
      id="team_description"
      class="container-fluid py-5"
      style="background-color: #eeeeee;"
    >
      <div class="row">
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Yash-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Yash Harlalka</h3>
              <h4 id="pos" class="text-dark">Convenor</h4>
              <a href="https://www.linkedin.com/in/yash-harlalka"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:yash2103h@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Archita-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Archita Sajjan</h3>
              <h4 id="pos" class="text-dark">President</h4>
              <a href="http://linkedin.com/in/archita-sajjan-a44410160"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:archita508@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Dhruti-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Dhruthi S</h3>
              <h4 id="pos" class="text-dark">Secretary</h4>
              <a href="http://linkedin.com/in/dhruthi-s-367291177"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:dhruthi14sk@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Jijis-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Jijiss Basil Joy</h3>
              <h4 id="pos" class="text-dark">E-Summit Convenor</h4>
              <a href="https://www.linkedin.com/in/jijiss-basil-joy-94079b16b"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:jijissbasiljoy@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Tirth-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Tirth Savla</h3>
              <h4 id="pos" class="text-dark">Media Head</h4>
              <a href="https://www.linkedin.com/in/tirth-savla/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:tirthsavla008@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Smit-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Smit Rambhiya</h3>
              <h4 id="pos" class="text-dark">Entrepreneurship Head</h4>
              <a href="www.linkedin.com/in/smit-rambhiya"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:smitrambhiya2101@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Bhaskar-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Bhaskar B</h3>
              <h4 id="pos" class="text-dark">Technical Head</h4>
              <a href="https://www.linkedin.com/in/bhaskar-brahmandam-56123416a"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:bbrahmandam@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Priyesh-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Priyesh Gandhi</h3>
              <h4 id="pos" class="text-dark">Business Head</h4>
              <a href="http://linkedin.com/in/priyesh-v-gandhi-236612169"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:priyeshgandhi99@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Aditya-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Adithya LHS</h3>
              <h4 id="pos" class="text-dark">Treasurer</h4>
              <a href="https://www.linkedin.com/in/adithya-lhs-071302194"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:lhs.adithya1@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>

            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Reetesh-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Reetesh Bhat</h3>
              <h4 id="pos" class="text-dark">Media Co-ordinator</h4>
              <a href="http://linkedin.com/in/reetesh-bhat-8632ba185"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:reeteshbhat16@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Neil-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Neil Poonatar</h3>
              <h4 id="pos" class="text-dark">Publicity Co-ordinator</h4>
              <a href="http://www.linkedin.com/in/neil-poonatar"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:neil.poonatar@gmail.com"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Rohit-01.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Rohit Handique</h3>
              <h4 id="pos" class="text-dark">Webmaster</h4>
              <a href="https://www.linkedin.com/in/rohit-handique-rh/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:rohand.181cv135@nitk.edu.in"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>



{% endblock %}