{% extends 'base.html' %}

{% load static %}

{% block title_meta %}

    <title>E-Cell NITK | TEAM</title>
    <meta name="description" content="" />
    
{% endblock %}

{% block hero %}
    <br>
   <div class="text-center col-12 mb-5">
          <h1 id="team_name">
            THE TEAM
          </h1>
        </div>

{% endblock %}

{% block body %}

<section
      id="team_description"
      class="container-fluid py-5"
      style="background-color: #eeeeee;"
    >
      <div class="row">
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/supritha.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Supritha Harishankar</h3>
              <h4 id="pos" class="text-dark">Convenor</h4>
              <a href="https://www.linkedin.com/in/suprithahs/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/reetesh.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Reetesh Bhat</h3>
              <h4 id="pos" class="text-dark">President</h4>
              <a href="https://www.linkedin.com/in/reetesh-bhat-8632ba185/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/rohit.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Rohit Handique</h3>
              <h4 id="pos" class="text-dark">Joint Convenor</h4>
              <a href="https://www.linkedin.com/in/rohit-handique-rh/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:rohand.181cv135@nitk.edu.in"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/dhiraj.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Dhiraj Lokesh</h3>
              <h4 id="pos" class="text-dark">E-Summit Convenor</h4>
              <a href="https://www.linkedin.com/in/dhiraj-lokesh-564155173/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/Neil.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Neil Poonatar</h3>
              <h4 id="pos" class="text-dark">Secretary</h4>
              <a href="https://www.linkedin.com/in/neil-poonatar/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="mailto:#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/shankar.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Shankar Suresh</h3>
              <h4 id="pos" class="text-dark">Head of Entrepreneurial
                Affairs</h4>
              <a href="https://www.linkedin.com/in/shankar-suresh/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/shithik.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Shithik Shaji</h3>
              <h4 id="pos" class="text-dark">Head of Public
                Relations</h4>
              <a href="https://www.linkedin.com/in/shithik-shaji/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/yashas.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Yashas S</h3>
              <h4 id="pos" class="text-dark">Media Head</h4>
              <a href="#"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/samarth.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Samarth C Swamy</h3>
              <h4 id="pos" class="text-dark">Treasurer</h4>
              <a href="https://www.linkedin.com/in/samarthcswamy/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>

            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/anuja.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Anuja Goyal</h3>
              <h4 id="pos" class="text-dark">Publicity Co-ordinator</h4>
              <a href="https://www.linkedin.com/in/anuja-goyal-3986261a0/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/aadil.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Aadil Khalifa</h3>
              <h4 id="pos" class="text-dark">Publicity Co-ordinator</h4>
              <a href="https://www.linkedin.com/in/aadil-khalifa-7361031b6/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
            <div class="col-6 text-center">
              <img
                id="first-image"
                src="../static/images/team/stafan.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Stafan Santhosh</h3>
              <h4 id="pos" class="text-dark">Technical Co-ordinator</h4>
              <a href="https://www.linkedin.com/in/stafan-kuttikal-santhosh-08465518b/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-sm-3">
          <div class="row">
            <div class="col-12 text-center">
              <img
                id="first-image"
                src="../static/images/team/ganesh.png"
                class="rounded-circle"
              />
              <h3 class="text-dark">Ganesh S</h3>
              <h4 id="pos" class="text-dark">Webmaster</h4>
              <a href="linkedin.com/in/ganesh-saravanan/"
                ><img src="../static/images/logo_linkedin_dark.svg" alt=""
              /></a>
              <a href="#"
                ><img src="../static/images/logo_email_dark.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>



{% endblock %}