{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/logo_ecell 1.svg' %}">
    <link rel="stylesheet" href="{%static 'css/esummit.css' %}">
    <title>ESummit 2023</title>
</head>
<body>
    <nav>
        <div class="nav-links">
            <a href="{% url 'core:index'%}"><img src="{% static 'images/logo_ecell 1.svg' %}" alt="Ecell-Logo"></a>
            <img src="{% static 'images/menu.svg' %}" alt="Menu" id="menuBtn">
            <img src="{% static 'images/cancel-icon.svg' %}" alt="Cancel" id="cancelBtn" class="notVisible">
        </div>
        <div class="navContent notVisible" id="navContent">
            <li class="navLinks"><a href="#home">Home</a></li>
            <li class="navLinks"><a href="#etalks">E-Talks</a></li>
            <li class="navLinks"><a href="#competitions">Competitions</a></li>
            <li class="navLinks"><a href="#workshops">Workshops</a></li>      
            <!-- <li class="navLinks"><a href="#panelDis">Panel Discussion</a></li>
            <div class="socials">
                <p>Find us at : </p>

            </div> -->
        </div>
    </nav>
    <section class="hero-section" id="home">
       <div class="hero-text">
           <h1>E-SUMMIT 2023</h1>
           <h4>Inspire . Invent . Integrate</h4>
           <p>E-Summit is the flagship event of the Entrepreneur Club at NITK, Surathkal. Envisioned to create an entrepreneurial spirit amongst the next generation of graduates; it is a multi-faceted event that encompasses entrepreneurship talks, business workshops, panel discussions and a pitching event. </p>
            <!-- <br /> <br /><p>  We invite changemakers from various spheres of work including journalism, entertainment, social entrepreneurship, politics as well as established businesses to serve as mentors for these events.</p> -->
           <button><a href="#etalks">Explore Now</a></button>
       </div>
       <div class="hero-img">
           <img src="{% static 'images/main-img.svg' %}" alt="">
       </div>
    </section>
    <!--E-Talks-->
    <section class="etalks-section" id="etalks">
        <div class="etalks-text">
            <h1>Entrepreneurs, Businessman & Leaders speak.</h1>
            <div class="speaker" style="padding-bottom: 5%; align-items: center;justify-content: center;">
                <div>
                    <img src="{% static 'images/esummit/AmanD.png' %}" alt="">
                </div>
            </div>
            <div class="speaker">
                <div>
                    <img src="{% static 'images/esummit/Speaker3.png' %}" alt="">
                </div>
                
                <div>
                    <img src="{% static 'images/esummit/Speaker2.png' %}" alt="">
                </div>
            </div>
        </div>      
    </section>
    <!-- E-Pitch
    <section class="epitch-section" id="epitch">
        <div>
            <img src="./images/epitch-img.svg"/>
        </div>
        <div class="epitch-text">
            <h1>E-Pitch</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum turpis velit, at dignissim massa rhoncus eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum turpis velit, at dignissim massa rhoncus eget. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>   
            <button>Explore Now</button>
        </div>
    </section>
    <section class="epitch-accordian"> -->
        <!--Competitions-->
        <section class="competitions" id="competitions">
            <h1>Competitions</h1>    
              <div class="row2-container">                      
                <div class="card">
                    <img src="{% static 'images/esummit/BizCosPlay.png' %}" alt="" width="400" height="400" >
                    <div class="card-desc">
                      <h2>BizCosplay</h2>
                      <p>A first-of-its-kind event that combines business acumen with pop culture! Prizes worth Rs. 20000 up for grabs!</p>
                    </div>
                    <a href="https://unstop.com/competitions/bizcosplay-e-summit23-national-institute-of-technology-karnataka-nitk-surathkal-607832" target="_blank">
                        <button type="button">Register</button>
                    </a>
                  </div>
                <div class="card">
                   <img src="{% static 'images/esummit/Himg.jpeg' %}" alt=""  width="400" height="400" >
                   <div class="card-desc">
                    <h2>Innovate-A-thon</h2>
                      <p>Budding entrepreneurs convene to engage in a fevered rush of innovation and creativity. 48 hour long hackathon!</p>
                   </div>
                   <a href="https://unstop.com/p/e-hackathon-e-summit23-national-institute-of-technology-karnataka-nitk-surathkal-national-institute-of-technology-karn-600971" target="_blank">
                      <button type="button">Register</button> 
                   </a>
                </div>
            </div>
            <div class="row2-container">
                <div class="workshop1">
                    <img src="{% static 'images/esummit/EPitch.png' %}"/>
                    <a class="workshop-link" href="https://unstop.com/competitions/e-pitch-e-summit23-national-institute-of-technology-karnataka-nitk-surathkal-national-institute-of-technolog-600953" target="_blank">
                        Register Here
                    </a>
            </div>
            </div>
        </section>

    <!--Workshops-->
    <section class="workshops" id="workshops">
        <div class="main">
            <h1>E-Summit Workshops</h1>
        </div>
        <div class="workshop1">
                <img src="{% static 'images/esummit/Work1.png' %}"/>
                <a class="workshop-link" href="https://unstop.com/p/workshop-e-summit23-national-institute-of-technology-karnataka-nitk-surathkal-national-institute-of-technology-karnata-601080" target="_blank">
                    Register Here
                </a>
        </div>
        <div class="workshop2">   
            <img src="{% static 'images/esummit/Work2.png' %}"/>
                <a class="workshop-link" href="https://unstop.com/p/workshop-e-summit23-national-institute-of-technology-karnataka-nitk-surathkal-national-institute-of-technology-karnata-601080" target="_blank">
                    Register Here
                </a>
        </div>
        <div class="workshop3">   
                <img src="{% static 'images/esummit/Work3.png' %}"/>
                <a class="workshop-link" href="https://unstop.com/p/workshop-e-summit23-national-institute-of-technology-karnataka-nitk-surathkal-national-institute-of-technology-karnata-601080" target="_blank">
                    Register Here
                </a>
    </section>

    <!--Panel Discussion-->
    <!-- <section class="panel-dis" id="panelDis">
        <h1>Panel Discussion</h1>
        <div class="main-panel">
            <div class="panel-img">
                <img src="./images/panel-discussion.svg" alt="">
            </div>
            <div class="panel-content">
                <h2>National Education Policy 2022</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, corrupti fuga! Pariatur, reiciendis corporis earum iure itaque delectus ex harum molestias ducimus quos, rerum, dolorum autem ipsam sit. Sint, fugit.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur tempora esse, excepturi placeat sit iusto in perferendis perspiciatis odio temporibus architecto, inventore at vero corporis ipsum aliquid dolorum ea cupiditate.</p>
                <button>Explore Now </button>
            </div>
        </div>
    </section> -->
    <footer>
        <h1>E-Summit 2023</h1>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#etalks">E-Talks</a></li>
                <li><a href="#competitions">Competitions</a></li>
                <li><a href="#workshops">Workshops</a></li>
            </ul>
        </div>
        <p>Find us at:</p>
        <div class="icons">
            <a href="https://www.facebook.com/ecellnitk/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/ecell_nitk" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/ecell_nitk/?hl=en" class="fa fa-instagram"></a>
        </div> 
        <p class="copyright"> &copy; Made with Love, by E-Cell NITK</p>   
    </footer>

    <script src="{% static 'js/app.js'%}"></script>
</body>
</html>