{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
  <!--title & description-->
  <title>E-Cell NITK | Campus Ambassador Program</title>
  <meta name="description" content="" />
{% endblock %}

{% block hero %}
    <div class="col-12">
        <h1>CAMPUS</h1>
        <h1>AMBASSADOR</h1>
        <h1>PROGRAM</h1>
    </div>
    <button class="button-cap btn hvr-grow" style="height: max-content;" type="button">
        <a href="#cap-3" class="reg-cap">Register Here</a>
    </button>
    <button class="button-cap hvr-grow" style="height: max-content;" type="button">
      <a href="https://drive.google.com/file/d/1Bk6jNbyLhMW0ERBbd8a3fj2JfjThOik8/view?usp=sharing" target="_blank" class="reg-cap">Know More</a>
    </button>
{% endblock %}

{% block body %}
<!-- SECTION-2:Incentives and Resposibilities -->
<section id="cap-2" class="container-fluid">
  <div class="row">
   <div id="incentives" class="text-center mt-5 col-12 col-sm-6 order-2 order-sm-1">
     <h2>Incentives</h2>
     <p>
       Certificate of Appreciation
     </p>
     <p>
       Internship in NITK Startups
     </p>
     <p>
       Free Workshop and Webinars
     </p>
   </div>
   <div id="incentives-img" class="text-center col-12 col-sm-6 order-1 order-sm-2">
   <img src="{% static 'images/CAP/background_cap_s2_1.svg' %}" alt="">
   </div>
   <div id="responsibilities-img" class="text-center col-12 col-sm-6 order-3">
     <img src="{% static 'images/CAP/background_cap_s2_2.svg' %}" alt="">
   </div>
   <div id="responsibilities" class="text-center mt-5 col-12 col-sm-6 order-4">
     <h2>Responsibilities</h2>
     <p>
     Fee Waiver for exclusive students
     </p>
     <p>
       Get featured in magazine and social media
     </p>
     <p>
       Free Goodies
     </p>
   </div>
  </div>
   
</section>


<!-- <form method="POST" action="{% url 'cap:index' %}">  -->
{% csrf_token %}
 <!-- SECTION-3  FOR Sign-up Page-->
 <section class="cap-3" id="cap-3">
  <h1>Welcome Aboard!</h1>

  {% if messages %}
        <div class="alert alert-success alert-dismissible">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <div class="login-form">
        <div class="inputs text-center">
            <div class="input1">
              <label for="username">Username</label>
              {{ form.name }}
            </div>

            <div class="input2">
              <label for="email">Email-Id</label>
              {{ form.email }}
            </div>

            <div class="input3">
                <label for="college">College Name</label>
                {{ form.college }}
            </div>     
            
            <div class="input1">
              <label for="Branch">Branch</label>
              {{ form.branch }}
            </div>  
        </div>

      </form>
      <div class="inputs">

        <div class="input1">
          <label for="roll_number">College Roll Number</label>
          {{ form.roll_number }}
        </div>  

        <div class="input5">
          <label for="phone-number">Phone Number</label>
          {{ form.phone_number }}
        </div>
      
        <div class="input6">
          <label for="year-of-study">Year of Study:</label>
          {{ form.year_of_study }}
        </div>
      </div>

      <div class="inputs">

        <div class="input7">
            <label for="question1">Why do you think you are best suited for this role?</label><br>
            {{ form.best_suited }}
        </div>

        <div class="input8">

          <label for="question2">What do you think are your key strengths?</label><br>
          {{ form.key_strengths }}

        </div> 
        <div class="input9">
          <label for="question3">What expectations do you have from the club?</label><br>
          {{ form.anticipate_learning }}
        </div> 
        <div class="input10">
          <label for="question1">Any past experience related to this program?</label><br>
          {{ form.past_experience }}
        </div> 
      </div>  

    </div>
  <button id="sign-up" type="submit" class="sign-up">Sign-Up</button>

  
</section>
<!-- </form> -->

<!-- SECTION-4:LEADERBOARD -->
{% comment %}
<section class="cap-4">
  <div class="leaderboard">

   <h1>LEADERBOARD</h1>

   <img src="{% static 'images/CAP/leaderboard.png' %}" alt="">

   <ul>
      {% for ambassador in leaderboard %}
        <li> <span class="name">{{ambassador.name}}</span>  
        <span class="college">{{ambassador.college}}</span> <span class="points">{{ambassador.points}}</span></li>
      {% endfor %}
   </ul>

  </div>   
</section>

{% endcomment %}

{% endblock %}