{% extends 'base.html' %}
{% load static %}

{% block title_meta %}

  <title>E-Cell NITK | Startups</title>
  <meta name="description" content="" />

  <style>
    #modal_text *, #modal_text{
      color: black !important;
    }
  </style>

{% endblock %}

{% block hero %}

  <div class="col-12 mb-5 text-center">
    <h1 style="color: aliceblue; margin-top: 30px;">Startup Hub</h1>
    <p
            style="
              text-align: center;
              color: black;
              margin-top: 1%;
              margin-bottom: 0%;
              padding-left: 10%;
              padding-right: 10%;
              padding-bottom: 0;
              color: white;
            "
          >
          A platform to provide visibility to all the current student-run startups of NITK and a perfect outreach to 
          investors and potential customers. To get your startup listed,<a style="color: #0000DD;" href="https://docs.google.com/forms/d/e/1FAIpQLSf7RvxZveTM_hVqmXazESG_1XycoG73hNw1sseHuOht0z4tMQ/viewform?usp=sf_link">Register here</a> and receive exclusive access 
          to mentorship, funding, incubation and acceleration!
          </p>
  </div>

{% endblock %}

{% block body %}

<section id="startup_content" class="container-fluid pt-5" style="position: relative;">

  <div class="row my-shuffle-container" id="start_row">
  <!----Filter Buttons------>
  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal1"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/changepay.png' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Changepay</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal2"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/prama.png' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Prama Inc</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal3"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/edzeeta.jpg' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Edzeeta</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal4"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/oxyheal.png' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Oxyheal</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal6"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/trekko.jpeg' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Trekko Adventures</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal7"
      data-toggle="modal"
      style="background-color: rgb(1,53,92);"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/dime.jpg' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">DiME India</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal8"
      data-toggle="modal"
      style="background-color: black;"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/spottedfrog.jpeg' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Spottedfrog</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal10"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/smarkt.png' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Smarkt</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal11"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/ari.png' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Ari Mobility Services</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card btn btn-lg"
      href="#myModal13"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/modulus.png' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Modulus Solutions</p>
    </div>
  </div>

  <div class="col-sm-4 picture-item text-center" class="start_details">
    <div
      class="startup_card_psup btn btn-lg"
      href="#myModal14"
      data-toggle="modal"
    >
      <img
        id="myImg"
        src="{% static 'images/startup/psup.jpeg' %}"
        class="card-img-top"
        alt="..."
        style="height: 200px; width: 200px; margin: 10% auto"
      />
    </div>
    <div>
      <p style="color: white">Peer Support Communities</p>
    </div>
  </div>


  <div class="row my-shuffle-container" id="start_row" >
  {% for startup in startups%}

      <div class="col-sm-4  picture-item" id="start_details">
        <div class="startup_card" href="#myModal{{ forloop.counter }}" class="btn btn-lg btn-primary" data-toggle="modal">
          <img id="myImg" src="{{startup.logo.url}}" class="card-img-top" alt="..." style="height: 100%; margin: 10% auto; "/>
          <div class="overlay">
            <div class="hover_text">{{startup.startup_name}}</div>
          </div>
      </div>
      </div>

  {% endfor%}
</div>
<br>
<br>
</section>

    <!----Modal Blocks----->
    <div id="myModal1" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/changepay.png' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Changepay
                    <br />
                    <span id="modal_text_bold">Sector </span>: E-commerce and
                    payments
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 5-10
                    <br />
                    <span id="modal_text_bold">Team Pitch</span> :
                    <a
                      href="https://drive.google.com/open?id=1fuokYCxYriQVVCJn9i8jyjKCLakVLCSN
                      "
                      target="_blank"
                      style="color: blue"
                      >link</a
                    >
                    <br />
                    <span id="modal_text_bold">Description</span>: Changepay is
                    a customizable commerce platform that aims to change the way
                    business and communication conducted in large residential
                    campuses & close-knit communities by empowering local
                    merchants & enterprises to provide delightful service, while
                    ensuring a convenient and seamless experience for the
                    student/consumer. We are leveraging our Smartbox technology
                    to solve problems of residential students and help campus to
                    achieve effective social distancing once the students are
                    back in the hostel as per government recommendation. We are
                    currently live in NITK- Surathkal and other campuses with 19
                    various category merchants. We have processed more than
                    40,000+ orders in a span of 6 months. We also work closely
                    with student clubs on various campuses to help them build
                    Apps and business on top of our platform to solve unique
                    campus-related solutions and give them first-hand experience
                    towards entrepreneurship.

                    <br />

                    <span id="modal_text_bold">Website</span>:
                    <a
                      href="http://changepay.co"
                      target="_blank"
                      style="color: blue"
                      >Changepay.co</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal2" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/prama.png' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Prama Inc
                    <br />
                    <span id="modal_text_bold">Sector </span>: Low code/health
                    care
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 10-20
                    <br />

                    <span id="modal_text_bold">Description</span>: Low code
                    platform with visual modelers
                    <br />

                    <span id="modal_text_bold">Website</span>:
                    <a
                      href="https://www.goprama.com/"
                      target="_blank"
                      style="color: blue"
                      >goprama.com</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal3" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/edzeeta.jpg' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Edzeeta
                    <br />
                    <span id="modal_text_bold">Sector </span>: Edutech
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 5-10
                    <br />
                    <span id="modal_text_bold">Description</span>: Edzeeta is an
                    online teaching platform for schoolkids.we stated out with a
                    vision to nurture school going kids with skills that are not
                    focussed in the current school ciriculum.
                    <br />
                    <span id="modal_text_bold">Website</span>:
                    <a
                      href="http://edzeeta.com/"
                      target="_blank"
                      style="color: blue"
                      >Edzeeta</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal4" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/oxyheal.png' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Oxyheal
                    <br />
                    <span id="modal_text_bold">Sector </span>: Healthtech
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 5-10
                    <br />
                    <span id="modal_text_bold">Description</span>: A chronic
                    wound is a wound that does not heal in an orderly set of
                    stages and in a predictable amount of time the way most
                    wounds do. It is claimed that over 25 billion dollars are
                    spent worldwide annually for the treatment of chronic
                    wounds. Even though various forms of oxygen therapy have
                    been there for a while, there is yet to be an effective one
                    without side effects. Also, the currently available
                    treatments like HBOT chambers are only available in major
                    hospitals. OxyHeal is a portable device that provides
                    Localized Hyperbaric Oxygen Therapy (HBOT) to help
                    facilitate the healing of chronic wounds.
                    <br />
                    <span id="modal_text_bold">Website</span>:
                    <a
                      href="http://oxyheal.co.in/"
                      target="_blank"
                      style="color: blue"
                      >Oxyheal</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal6" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/trekko.jpeg' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Trekko Adventures
                    <br />
                    <span id="modal_text_bold">Sector </span>: Travel and
                    hospitality
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 1-5
                    <br />

                    <span id="modal_text_bold">Description</span>: Trekko
                    Adventures aims at providing facilities for an adventure
                    tour by connecting customers with best and reliable
                    operators.
                    <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal7" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/dime.jpg' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : DiME India
                    <br />
                    <span id="modal_text_bold">Sector </span>: Water
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 1-5
                    <br />

                    <span id="modal_text_bold">Description</span>: We are
                    solving the water crisis with out unique water filteration
                    method which can desaliante,decontaminate and disinfect
                    water in a single process
                    <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal8" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/spottedfrog.jpeg' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Spottedfrog
                    <br />
                    <span id="modal_text_bold">Sector </span>: Sustainable
                    Fashion
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 1-5
                    <br />
                    <span id="modal_text_bold">Description</span>: We make
                    organic cotton t-shirts and fleece cotton hoodies (slowly
                    turning into a sustainable fashion store)
                    <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal10" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/smarkt.png' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Smarkt
                    <br />
                    <span id="modal_text_bold">Sector </span>: E-commmerce and
                    Retail
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 10-20
                    <br />
                    <span id="modal_text_bold">Description</span>: Smarkt aims
                    at technologizing the entire retail sector by bringing in
                    enhanced experience for customer instore shopping. It aims
                    at helping local vendors improve business by making their
                    shops attractive and increase the technology that they use
                    which will help them in analytics and improved
                    recommendations. Also, improving overall appeal and customer
                    experience, customers will spend more time in shops allowing
                    more customer interactivity for the vendor
                    <br />
                    <span id="modal_text_bold">Website</span>:
                    <a
                      href="https://www.smarkt.in"
                      target="_blank"
                      style="color: blue"
                      >Smarkt</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal11" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/ari.png' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Ari Mobility
                    Services
                    <br />
                    <span id="modal_text_bold">Sector </span>: Micro mobility/
                    lifestyle/ smart transport
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 1-5
                    <br />
                    <span id="modal_text_bold">Team Pitch</span> :
                    <a
                      href="https://drive.google.com/open?id=10-WOfO9PWtNAJx6cDN21lBU4CGTXP51V
                      "
                      target="_blank"
                      style="color: blue"
                      >link</a
                    >
                    <span id="modal_text_bold">Description</span>: Ari is a
                    micro-mobility service operating within enclosed communities
                    like colleges to provide an Eco-friendly, affordable and
                    reliable solution. We build up a fleet comprising a mix of
                    both company-owned and owner shared cycles. Owner shared
                    cycles are added by existing cycle owners who then receive a
                    small royalty when their cycle is used within the service. A
                    smart lock (proprietary to Ari) is installed on every cycle.
                    These cycles are distributed throughout the campus and can
                    be used by anyone simply by unlocking via the app and
                    payment is calculated per-minute of cycling. There are no
                    fixed parking locations hence offering our customers
                    valuable freedom to move anywhere they like within the
                    campus. All cycles in the fleet are regularly maintained by
                    the company.
                    <br />
                    <span id="modal_text_bold">Website</span>:
                    <a
                      href="https://aricycle.web.app"
                      target="_blank"
                      style="color: blue"
                      >Ari</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal13" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/modulus.png' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Modulus Solutions
                    <br />
                    <span id="modal_text_bold">Sector </span>: Digital
                    Solutions(Services Sector)
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 5-10
                    <br />
                    <span id="modal_text_bold">Description</span>: Modulus
                    Solutions takes care of all the branding requirements that
                    any organization needs.
                    <br />
                    Our Services :
                    <br />
                    1. Social Media Marketing
                    <br />
                    2. Branding
                    <br />
                    3. Advertising
                    <br />
                    4. Animation Videos
                    <br />
                    5. Website Building
                    <br />
                    6. 3D Modelling
                    <br />

                    We promise you the best quality output in the given budget
                    among the competitors
                    <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal14" class="modal" style="width: 100%; height: 100%">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-5">
                  <img
                    id="modal_image"
                    src="{% static 'images/startup/psup.jpeg' %}"
                    style="height: 250px"
                  />
                </div>
                <div class="col-sm-7">
                  <p id="modal_text">
                    <span id="modal_text_bold">Name </span> : Peer Support
                    Communities
                    <br />
                    <span id="modal_text_bold">Sector </span>: Platforms,
                    Aggregators and Ed-Tech
                    <br />
                    <span id="modal_text_bold">Team Size </span>: 20-50
                    <br />
                    <span id="modal_text_bold">Description</span>: Student
                    community services. Self sustainable ecosystems run by
                    student communities leading to holistic growth, development
                    and providing opportunities specific to tier-1 universities.
                    Also acts as a pseudo-consultancy platform on a b2b end with
                    a platform for tech specific to student markets.
                    <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% for startup in startups%}

  <div id="myModal{{ forloop.counter }}" class="modal" style="width: 100%; height: 100%;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-5">
                    <img id="modal_image" src="./src/images/startup/changepay.png' %}"style="height: 250px;" />
                  </div>
                  <div class="col-sm-7">
                    <p id="modal_text">
                    <span id="modal_text_bold">Name </span>      : {{startup.startup_name}}
                      <br>
                      <span id="modal_text_bold">Sector      </span>: {{startup.industry}}
                      <Br>
                      <span id="modal_text_bold">Team Size   </span>: {{startup.team_size}}
                      <br>
                      <span id="modal_text_bold">Team Pitch</span> : <a href="{{startup.pitch_link}}" target="_blank" style="color: blue;">{{startup.pitch_link}}</a>
                      <br>
                      <span id="modal_text_bold">Description</span>: {{startup.startup_description}}

                      <br>

                      <span id="modal_text_bold">Site</span>: <a href="{{startup.website_link}}" target="_blank" style="color: blue;">{{startup.website_link}}</a>

                    </p>
                  </div>
                </div>
              </div>

            </div>

        </div>
    </div>
  </div>
  {% endfor%}
{% endblock %}
