{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-172966898-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-172966898-1");
    </script>

    {% block title_meta %}
    {% endblock %}

    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />

    <!--seo tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--stylesheets-->
    <!--bootstrap for grids, 
				data-aos for div animations,
				hover for on-hover animations-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!--replace this with hover-min.css before deployment-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
  </head>

  <body id="{{ body_id }}">
    <!--main-->
    <section class="container-fluid" id="{{section_id}}">
      <div id="{{ page_id }}" class="row">
        <header id="{{ header_id }}" class="col-12">
          <!--navigation-->
          <nav id="header_main" class="text-right navbar">
            <a href="/" class="text-left"
              ><img id="nav-logo" src="{% static 'images/logo_ecell.svg' %}" alt=""
            /></a>
            <img
              id="menu"
              onclick="openNav()"
              src="{% static 'images/icon_menu.svg' %}"
              alt="menu"
            />
            <!--sidenav-->
            <div id="sidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
                >&times;</a
              >
              <a
                onclick="closeNav()"
                id="sidenav-name"
                class="hvr-grow"
                href="{% url 'core:index' %}"
                >E-CELL NITK</a
              >
              <a
                onclick="closeNav()"
                id="sidenav-name"
                class="hvr-grow"
                href="http://esummitnitk.surge.sh/"
                >E-SUMMIT 2021</a
              >
              <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                href="{% url 'core:index' %}#about"
                >About</a
              >
              <!-- PTBA Recruitments -->
              <!-- <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                href="/recruitments.html" 
                >Join Us</a
              > -->
              <!-- PTBA SIP -->
              <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                href="{% url 'core:index' %}"
                >SIP</a
              >
              <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                href="{% url 'cap:index' %}#sip"
                >CAP</a
              >
              <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                target="_blank"
                href="{% url 'courses:index' %}"
                >Learning Portal</a
              >
              <!-- PTBA Blog -->
              <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                target="_blank"
                href="{% url 'blogs:index' %}"
                >Blogs</a
              >
              <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                target="_blank"
                href="{% url 'podcasts:index' %}"
                >Podcast</a
              >
              <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                target="_blank"
                href="{% url 'startups:index' %}"
                >Startups Hub</a
              >
              <!-- PTBA Events -->
              <a
                onclick="closeNav()"
                class="text-left hvr-grow d-none d-sm-block"
                href="{% url 'core:index' %}#events"
                >Events</a
              >
              <a
                onclick="closeNav()"
                class="text-left hvr-grow d-none d-sm-block"
                href="{% url 'team:index' %}"
                >Team</a
              >
              <!-- PTBA Startups -->
              <a
                onclick="closeNav()"
                class="text-left hvr-grow d-sm-none"
                href="{% url 'core:index' %}#events-mob"
                >Events</a
              >
              <!-- <a
                onclick="closeNav()"
                class="text-left hvr-grow"
                target="_blank"
                href="./team.html"
                >Team</a
              > -->
              <a
                href="https://www.facebook.com/NitkEcell/"
                class="text-left"
                target="_blank"
                ><img
                  class="hvr-grow"
                  src="{% static 'images/logo_facebook.svg' %}"
                  alt="facebook"
              /></a>
              <a
                href="https://www.instagram.com/ecellnitksurathkal/?hl=en"
                class="text-left"
                target="_blank"
                ><img
                  class="hvr-grow"
                  src="{% static 'images/logo_instagram.svg' %}"
                  alt="instagram"
              /></a>
              <a
                href="https://www.linkedin.com/company/ecellnitksurathkal/about/"
                class="text-left"
                target="_blank"
                ><img
                  class="hvr-grow"
                  src="{% static 'images/logo_linkedin.svg' %}"
                  alt="linkedin"
              /></a>
              <a href="mailto:ecell@nitk.edu.in" class="text-left"
                ><img
                  class="hvr-grow"
                  src="{% static 'images/logo_email.svg' %}"
                  alt="gmail"
              /></a>
              <a href="spotify:show:4RATgTeZxdivKXPgOtVsc4" class="text-left">
                <img
                  class="hvr-grow"
                  src="{% static 'images/logo_spotify_white.svg' %} "
                  alt="gmail"
                />
              </a>
              <a
                href="https://www.youtube.com/channel/UC2q18pRs7UwoLmmJMRTT-dQ"
                class="text-left"
              >
                <img
                  class="hvr-grow"
                  src="{% static 'images/logo_youtube_white.svg' %}"
                  alt="gmail"
                />
              </a>
            </div>
          </nav>
        </header>
        <!--first section-->
        {% block hero %}
        {% endblock %}
      </div>
    </section>

    {% block body %}
    {% endblock %}
    
    <section class="col-12">
      <!--footer-->
      <footer id="footer">
        <div id="footer-item1">
          <div id="footer-item1-1">
            <h3>EXPLORE</h3>
            <a href="{% url 'core:index' %}">
              <p>Home</p>
            </a>
            <a href="{% url 'core:index' %}#about">
              <p>About Us</p>
            </a>
            <a href="{% url 'blogs:index' %}">
              <p>Blog</p>
            </a>
          </div>
          <div id="footer-item1-2">
            <h3>DISCOVER</h3>
            <a href="{% url 'podcasts:index' %}">
              <p>Podcast</p>
            </a>
            <a class="d-none d-sm-block" href="./index.html#events">
              <p>Events</p>
            </a>
            <a class="d-sm-none" href="./index.html#events-mob">
              <p>Events</p>
            </a>
            <a href="{% url 'team:index' %}">
              <p>Team</p>
            </a>
          </div>
          <div id="footer-item1-3">
            <h3>INITIATIVES</h3>
            <a href="{% url 'cap:index' %}">
              <p>CAP</p>
            </a>
            <a href="{% url 'courses:index' %}">
              <p>Courses</p>
            </a>
            <a href="{% url 'startups:index' %}">
              <p>Startups Hub</p>
            </a>
          </div>
        </div>
        <div id="footer-item2" class="text-center-mobile">
          <h5>CONTACT US</h5>
          <a href="https://www.facebook.com/NitkEcell/" target="_blank"
            ><img
              class="hvr-grow"
              src="{% static 'images/logo_facebook.svg' %}"
              alt="facebook"
          /></a>
          <a
            href="https://www.instagram.com/ecellnitksurathkal/?hl=en"
            target="_blank"
            ><img
              class="hvr-grow"
              src="{% static 'images/logo_instagram.svg' %}"
              alt="instagram"
          /></a>
          <a
            href="https://www.linkedin.com/company/ecellnitksurathkal/about/"
            target="_blank"
            ><img
              class="hvr-grow"
              src="{% static 'images/logo_linkedin.svg' %}"
              alt="linkedin"
          /></a>
          <a href="mailto:ecell@nitk.edu.in"
            ><img
              class="hvr-grow"
              src="{% static 'images/logo_email.svg' %}"
              alt="gmail"
          /></a>
        </div>
        <div id="footer-item3" class="text-center-mobile">
          <h3>FEEDBACK</h3>
          <h6>Facing bugs or issues?<br /></h6>
          <form
            action="https://airform.io/rohit.handique.rh@gmail.com"
            method="post"
          >
            <label for="email"></label>
            <input type="text" id="email" name="email" placeholder="Email" />
            <br />
            <label for="text"></label>
            <input type="text" id="text" name="text" placeholder="Message" />
            <input
              id="submit"
              name="submit"
              type="image"
              src="{% static 'images/icon_submit.svg' %}"
              alt="Submit"
              height="26.5px"
              width="auto"
            />
          </form>
        </div>
        <div id="footer-item4" class="text-center mt-5">
          <a href="{% url 'core:index' %}"
            ><img src="{% static 'images/logo_ecell.svg' %}" alt=""
          /></a>
          <h3>E-CELL NITK</h3>
        </div>
        <div id="footer-item5" class="text-center">
          <h6>&copy; 2020 E-Cell NITK, All Rights Reserved</h6>
        </div>
      </footer>
    </section>
    <!--scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>

</html>