<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <title>E-Cell</title>

        {% block style %}
        {% endblock %}

    </head>
    <body>
        <header>
            <h1>Header and Navbar here</h1>
        </header>

        {% block body %}
        {% endblock %}

        <footer>
            <h1>Footer goes here</h1>
        </footer>

        {% block script %}
        {% endblock%}
        
    </body>

</html>