{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<!--title & description-->
   <title>E-Cell NITK | Courses-Cryptocurrency</title>
   <meta name="description" content="" />
   <link
     rel="icon"
     href="./src/images/favicon.ico"
     type="image/gif"
     sizes="16x16"
   />
   <link rel="apple-touch-icon" href="./src/images/apple-touch-icon.png" />

   <!--seo tags-->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% endblock %}

  {% block hero %}
  <div id="" class="text-center col-12">
    <h1>CRYPTOCURRENCY</h1>
    <p>
      Study the working dynamics behind the Blockchain technology and how
      it is being implemented in leading cryptocurrencies like Bitcoin and
      Ethereum. Additionally, explore security, mining and other
      applications of the technology!
    </p>
  </div>

    {% endblock %}

  {% block body %}
  <div class="row">
  <div class="col-lg-3 d-none d-sm-block"></div>
  <div id="course_container" class="col-12 col-lg-6 row">
    <div id="c1" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image1.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Intro</h5>
        </div>
      </div>
    </div>
    <div id="c2" class="p-5">
      <a
        href="https://blockgeeks.com/guides/what-is-blockchain-technology/"
        ><h6 class="text-dark">What is Blockchain</h6></a
      >
      <a
        href="https://onezero.medium.com/how-does-the-blockchain-work-98c8cd01d2ae"
        ><h6 class="text-dark">Structure of blockchain(Bitcoin)</h6></a
      >
      <a
        href="https://www.coindesk.com/learn/blockchain-101/what-is-blockchain-technology"
        ><h6 class="text-dark">Public and Private blockchains</h6></a
      >
      <a href="https://www.youtube.com/watch?v=hYip_Vuv8J0"
        ><h6 class="text-dark">Blockchain explained</h6></a
      >
    </div>
    <div id="c3" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image2.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Ethereum</h5>
        </div>
      </div>
    </div>
    <div id="c4" class="p-5">
      <a
        href="https://solidity.readthedocs.io/en/develop/introduction-to-smart-contracts.html"
        ><h6 class="text-dark">What is Ethereum</h6></a
      >
      <a
        href="https://www.coindesk.com/learn/ethereum-101/how-ethereum-works"
        ><h6 class="text-dark">How it works</h6></a
      >
      <a
        href="https://www.investopedia.com/articles/investing/031416/bitcoin-vs-ethereum-driven-different-purposes.asp"
        ><h6 class="text-dark">
          Difference between Ethereum and bitcoin
        </h6></a
      >
    </div>

    <div id="c5" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image3.png"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Smart Contracts</h5>
        </div>
      </div>
    </div>
    <div id="c6" class="p-5">
      <a href="https://blockgeeks.com/guides/smart-contracts/"
        ><h6 class="text-dark">Smart Contracts</h6></a
      >
      <a
        href="https://solidity.readthedocs.io/en/develop/introduction-to-smart-contracts.html"
        ><h6 class="text-dark">Solidity to code Smart Contracts</h6></a
      >
    </div>
    <div id="c7" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image4.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Ethereum Consensus/Incentive Model</h5>
        </div>
      </div>
    </div>
    <div id="c8" class="p-5">
      <a
        href="https://ethereum.stackexchange.com/questions/3/what-is-meant-by-the-term-gas"
        ><h6 class="text-dark">Ethereum Transaction fee(Gas)</h6></a
      >
      <a
        href="https://www.coindesk.com/vitalik-buterin-doubles-ethereum-incentive-strategy"
        ><h6 class="text-dark">Ethereum incentive model</h6></a
      >
      <a
        href="https://blockgeeks.com/guides/proof-of-work-vs-proof-of-stake/"
        ><h6 class="text-dark">Consensus</h6></a
      >
    </div>
    <div id="c9" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image5.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Security</h5>
        </div>
      </div>
    </div>
    <div id="c10" class="p-5">
      <a
        href="https://www.globalsign.com/en/ssl-information-center/what-is-public-key-cryptography"
        ><h6 class="text-dark">Public-key encryption</h6></a
      >
      <a
        href="https://searchsecurity.techtarget.com/definition/asymmetric-cryptography"
        ><h6 class="text-dark">Asymmetric Encryption</h6></a
      >
      <a href="https://blockgeeks.com/guides/what-is-hashing/"
        ><h6 class="text-dark">
          Hashing (What happens under the blockchain)
        </h6></a
      >
      <a
        href="https://hbr.org/2017/03/how-safe-are-blockchains-it-depends"
        ><h6 class="text-dark">Transaction Integrity</h6></a
      >
      <a
        href="https://developer.ibm.com/technologies/blockchain/articles/how-to-secure-blockchain-solutions/"
        ><h6 class="text-dark">Securing the blockchain (models)</h6></a
      >
    </div>
    <div id="c11" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image6.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Mining</h5>
        </div>
      </div>
    </div>
    <div id="c12" class="p-5">
      <a
        href="https://www.coindesk.com/short-guide-blockchain-consensus-protocols"
        ><h6 class="text-dark">Consensus Protocols</h6></a
      >
      <a
        href="https://intellipaat.com/blog/tutorial/blockchain-tutorial/what-is-bitcoin-mining/"
        ><h6 class="text-dark">What is mining</h6></a
      >
      <a
        href="https://coincentral.com/ethereum-mining-vs-bitcoin-mining-which-is-more-profitable/"
        ><h6 class="text-dark">Ethereum vs Bitcoin</h6></a
      >
      <a href="https://www.youtube.com/watch?v=2HcmwfVzPEU"
        ><h6 class="text-dark">Explained (Video)</h6></a
      >
    </div>
    <div id="c13" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image7.png"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Blockchain as a Service (Platforms)</h5>
        </div>
      </div>
    </div>
    <div id="c14" class="p-5">
      <a href="https://www.youtube.com/watch?v=6rUsARjV4To"
        ><h6 class="text-dark">Hyperledger(Video)</h6></a
      >
      <a href="https://www.hyperledger.org/about"
        ><h6 class="text-dark">Hyperledger(Reading)</h6></a
      >
      <a href="https://www.howtogeek.com/337961/what-is-microsoft-azure/"
        ><h6 class="text-dark">Microsoft Azure</h6></a
      >
      <a
        href="https://azure.microsoft.com/en-us/blog/simplifying-blockchain-app-development-with-azure-blockchain-workbench-2/"
        ><h6 class="text-dark">Simplifying Blockchain</h6></a
      >
      <a
        href="https://www.brookings.edu/blog/techtank/2018/04/17/blockchain-and-u-s-state-governments-an-initial-assessment/"
        ><h6 class="text-dark">Example (Blockchain and US govt)</h6></a
      >
    </div>
    <div id="c15" class="pl-4 pl-md-none">
      <div class="card text-center">
        <img
          src="../../static/images/crypto/image8.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">Important Links</h5>
        </div>
      </div>
    </div>
    <div id="c16" class="p-5">
      <a href="https://sci.smithandcrown.com/glossary"
        ><h6 class="text-dark">Glossary</h6></a
      >
      <a href="https://bitcoin.org/bitcoin.pdf"
        ><h6 class="text-dark">Bitcoin whitepaper</h6></a
      >
      <a href="https://ethereum.org/en/whitepaper/"
        ><h6 class="text-dark">Ethereum White Paper</h6></a
      >
    </div>
  </div>
  <div class="col-lg-3 d-none d-sm-block"></div>
</div>
  {% endblock %}
