{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<title>E-Cell NITK | Courses | Economics</title>
<meta name="description" content="" />
<link
  rel="icon"
{% endblock %}

{% block hero %}
<div id="" class="text-center col-12">
    <h1>ECONOMICS</h1>
    <p>
      Dive into the intricacies of the world around you to learn the art of decision making and become a well-informed and responsible citizen
    </p>
  </div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3 d-none d-sm-block"></div>
    <div id="course_container" class="col-12 col-lg-6 row">
        <div id="c1" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/1.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">What is Economics?</h5>
              </div>
            </div>
          </div>
        <div id="c2" class="p-5">
            <a
              href="https://www.econlib.org/library/Topics/College/whatiseconomics.html"
              ><h6 class="text-dark">EconLib</h6></a
            >
            <a
              href="https://youtu.be/3ez10ADR_gM"
              ><h6 class="text-dark">Crash Course Economics</h6></a
            >
          </div>
  
  
          <div id="c3" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/2.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Specialization and Division of Labour</h5>
              </div>
            </div>
          </div>
          <div id="c4" class="p-5">
            <a
              href="https://www.econlib.org/library/Topics/HighSchool/DivisionofLaborSpecialization.html"
              ><h6 class="text-dark">EconLib</h6></a
            >
            <a href="https://youtu.be/NI9TLDIPVcs"
              ><h6 class="text-dark">
                Crash Course Economics
              </h6></a
            >
            <a
              href="https://open.spotify.com/episode/0IrqSnGirUPnAkcEbxsQ4V?si=dSfCyE7EQuWFLc5iTnNKcA"
              ><h6 class="text-dark">Arnold Kling on Specialization and Trade (EconTalk)</h6></a
            >
          </div>
  
            
          <div id="c5" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/3.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Supply and Demand</h5>
              </div>
            </div>
          </div>
          <div id="c6" class="p-5">
            <a href="https://www.econlib.org/library/Topics/College/supplyanddemand.html"
            ><h6 class="text-dark">EconLib</h6></a>
          
          <a href="https://youtu.be/g9aDizJpd_s"
          ><h6 class="text-dark">Crash Course Economics</h6></a>

          <a href="https://open.spotify.com/episode/5Z56IlFkXG43frQHCnvtSj"
          ><h6 class="text-dark">Here's Why Supply and Demand Is Overrated!(Economics Explained)</h6></a>
          </div>
  
          <div id="c7" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/4.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Introduction to Macroeconomics and Economic Systems</h5>
              </div>
            </div>
          </div>
          <div id="c8" class="p-5">
            
            <a href="https://www.econlib.org/library/Topics/HighSchool/EconomicSystems.html"
              ><h6 class="text-dark">EconLib (Economic Systems)</h6></a>
            
            <h6 class="text-dark">Crash Course Economics: </h6>
            <a href="https://youtu.be/B43YEW2FvDs"
            ><h6 class="text-dark">i. Economics Systems and Macroeconomics</h6></a>
  
            <a href="https://youtu.be/d8uTB5XorBw"
              ><h6 class="text-dark">ii. Macroeconomics</h6></a>
            
            <a href="https://open.spotify.com/episode/5lrIpr5SrDunqXKqwVQZpN?si=IR1LY1E7Qem10QEk2O6eIg"
            ><h6 class="text-dark">Are the “Extreme” Economics Systems Pointless? (Economics Explained)</h6></a>
  
          </div>

          <div id="c9" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/5.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Economic Growth and Productivity</h5>
              </div>
            </div>
          </div>
          <div id="c10" class="p-5">
            
            <h6 class="text-dark">a. EconLib : </h6>
            <a href="https://www.econlib.org/library/Enc/Productivity.html"
            ><h6 class="text-dark">i. Productivity</h6></a>
  
            <a href="https://www.econlib.org/library/Topics/College/economicgrowth.html"
              ><h6 class="text-dark">ii. Economic growth</h6></a>

            <a href="https://youtu.be/UHiUYj5EA0w"
            ><h6 class="text-dark">b. Crash Course Economics - Productivity and Growth</h6></a>
            
            <h6 class="text-dark">c. Podcasts : </h6>
            <a href="https://open.spotify.com/episode/6wvf1SoREJykZirFNVrkq4?si=PqEhPcOOTX654e_9Ce85fA"
            ><h6 class="text-dark">i. Is Economic Growth the wrong goal? (Freakonomics Radio)</h6></a>
  
            <a href="https://open.spotify.com/episode/0Z4wP4w3kpIv2WesDugnCy?si=8zZwSp4UQfGoFu8np8zsog"
              ><h6 class="text-dark">ii. Foreign Direct Investment and Productivity (Economics Explored)</h6></a>

            <a href="https://open.spotify.com/episode/518s8EpCQQ34rVYLwDocVb?si=MHpQY1ZrTGiWJMwj1zfD7Q"
            ><h6 class="text-dark">iii. Kelly on the Future, Productivity, and the Quality of Life (EconTalk)</h6></a>
  
          </div>


          <div id="c11" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/6.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Inflation</h5>
              </div>
            </div>
          </div>
          <div id="c12" class="p-5">
            
            <h6 class="text-dark">a. EconLib -  </h6>
            <a href="https://www.econlib.org/library/Enc/Productivity.html"
            ><h6 class="text-dark">i. Productivity</h6></a>
  
            <a href="https://www.econlib.org/library/Topics/College/economicgrowth.html"
              ><h6 class="text-dark">ii. Economic growth</h6></a>

            <h6 class="text-dark">b. Crash Course Economics -  </h6>
            <a href="https://youtu.be/T8-85cZRI9o"
            ><h6 class="text-dark">i. Inflation and Bubbles</h6></a>
  
            <a href="https://youtu.be/BHw4NStQsT8"
              ><h6 class="text-dark">ii. Recession, Hyperinflation and Stagflation</h6></a>
            
            <h6 class="text-dark">c. Podcasts - </h6>
            <a href="https://open.spotify.com/episode/4nnzlBfNHRRfNK5QvvzrOl?si=SV12ogJXT7KJd8kCcvc-Hw"
            ><h6 class="text-dark">i. Inflation - When money loses its value (Think Like an Economist)</h6></a>
  
            <a href="https://open.spotify.com/episode/2ZXta5afkOeRI7FNXe3mdq?si=SFBMrVwERhSQNcDYgWUguw"
              ><h6 class="text-dark">ii. Meltzer on Inflation (EconTalk)</h6></a>

          </div>

          <div id="c13" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/7.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Fiscal and Monetary Policy</h5>
              </div>
            </div>
          </div>
          <div id="c14" class="p-5">

            <h6 class="text-dark">a. EconLib -  </h6>
            <a href="https://www.econlib.org/library/Topics/College/money.html"
              ><h6 class="text-dark">i. What is Money?</h6></a>
  
            <a href="https://www.econlib.org/library/Enc/FiscalPolicy.html"
              ><h6 class="text-dark">ii. Fiscal Policy</h6></a>
            
            <a href="https://www.econlib.org/library/Enc/MonetaryPolicy.html"
              ><h6 class="text-dark">iii. Monetary Policy</h6></a>
            
            <a href="https://www.econlib.org/library/Enc/GovernmentDebtandDeficits.html"
              ><h6 class="text-dark">iv. Debt and Deficits</h6></a>

            <h6 class="text-dark">b. Crash Course Economics - </h6>
            <a href="https://youtu.be/Dugn51K_6WA"
            ><h6 class="text-dark">i. Money and Finance</h6></a>
  
            <a href="https://youtu.be/otmgFQHbaDo"
              ><h6 class="text-dark">ii. Fiscal Policy and Stimulus</h6></a>
            <a href="https://youtu.be/3sUCSGVYzI0"
              ><h6 class="text-dark">iii. Deficits and Debt</h6></a>
            <a href="https://youtu.be/1dq7mMort9o"
              ><h6 class="text-dark">iv. Monetary Policy</h6></a>
            
            <h6 class="text-dark">c. Podcasts -  </h6>
            <a href="https://open.spotify.com/episode/0Q3ulufcThWf40uW0ddC1v?si=y1rV3b_5Sj2XP1s1PD4WeA"
            ><h6 class="text-dark">i. Cowen on Monetary Policy (EconTalk)</h6></a>
  
            <a href="https://open.spotify.com/episode/0yyW0z58bDrOqowhloL2wm?si=35YXtbdQRhKRFCWa8xyb8g"
              ><h6 class="text-dark">ii. Taylor on Fiscal and Monetary Policy (EconTalk)</h6></a>
            <a href="https://open.spotify.com/episode/0xBX4JJTh032WmV5uZL8yh?si=935vr-IhQ0KMCDu2EgbMRg"
            ><h6 class="text-dark">iii. The Deficit Myth & Modern Monetary Theory – initial views (Economics Explored)</h6></a>
  
            <a href="https://open.spotify.com/episode/6nKBDSAJUoNW4Txn7LK8Lg?si=RauA1zWNSvizE06sw8xyJA"
              ><h6 class="text-dark">iv. Fiscal Stimulus with Prof. Fabrizio Carmignani (Economics Explored)</h6></a>
            
            
  
          </div>


          <div id="c15" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/8.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Globalization, Trade (Imports and Exports) and Exchange Rates</h5>
              </div>
            </div>
          </div>
          <div id="c16" class="p-5">

            <h6 class="text-dark">a. EconLib -  </h6>
            <a href="https://www.econlib.org/library/Enc/InternationalTrade.html"
              ><h6 class="text-dark">i. International Trade</h6></a>
  
            <a href="https://www.econlib.org/library/Enc/ForeignExchange.html"
              ><h6 class="text-dark">ii. Exchange Rates</h6></a>

            <h6 class="text-dark">b. Crash Course Economics - </h6>
            <a href="https://youtu.be/9MpVjxxpExM"
            ><h6 class="text-dark">i. Globalization, Trade and Poverty</h6></a>
  
            <a href="https://youtu.be/geoe-6NBy10"
              ><h6 class="text-dark">ii. Imports, Exports and Exchange Rates</h6></a>
            
            <h6 class="text-dark">c. Podcasts -  </h6>
            <a href="https://open.spotify.com/episode/3vcLQ188asgdouK9CL63nv"
            ><h6 class="text-dark">i. Don Boudreaux on Globalization and Trade Deficits (EconTalk)</h6></a>
  
            <a href="https://open.spotify.com/episode/7F5YVBLWJiZkpelk2SU6Oe"
              ><h6 class="text-dark">ii. Eichengreen on the Dollar and International Finance (EconTalk)</h6></a>
            <a href="https://open.spotify.com/episode/0bRY91tfvrEzcGk22JvNoR"
            ><h6 class="text-dark">iii. Why Does China Manipulate its own Currency? (Economics Explained)</h6></a>
            
            
  
          </div>


          <div id="c17" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/9.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Taxes, Income and Wealth Inequality</h5>
              </div>
            </div>
          </div>
          <div id="c18" class="p-5">

            <h6 class="text-dark">a. EconLib -  </h6>
            <a href="https://www.econlib.org/library/Enc/Taxation.html"
              ><h6 class="text-dark">i. Taxation</h6></a>
  
            <a href="https://www.econlib.org/library/Enc/CorporateTaxation.html"
              ><h6 class="text-dark">ii. Corporate Taxes</h6></a>

            <h6 class="text-dark">b. Crash Course Economics - </h6>
            <a href="https://youtu.be/0xMCWr0O3Hs"
            ><h6 class="text-dark">i. Income and Wealth Inequality</h6></a>
  
            <a href="https://youtu.be/7Qtr_vA3Prw"
              ><h6 class="text-dark">ii. Taxes</h6></a>
            
            <h6 class="text-dark">c. Podcasts -  </h6>
            <a href="https://open.spotify.com/episode/2jsElTl1bPwNHeVUtdHaDN"
            ><h6 class="text-dark">i. Is Income Inequality Inevitable? (Earth 2.0 Series) (Freakonomics Radio)</h6></a>
  
            <a href="https://open.spotify.com/episode/7Ds755YcFVXsQ9mfUvrvv0"
              ><h6 class="text-dark">ii. Is Wealth Inequality Actually a Problem? (Economics Explained)</h6></a>
            <a href="https://open.spotify.com/episode/3SjuITkUZPYemn9DZ2ppBN"
            ><h6 class="text-dark">iii. How The Dutch Economy Shows We Can't Reduce Wealth Inequality With Taxes (Economics Explained)</h6></a>
  
            <a href="https://open.spotify.com/episode/7m4gJ2fHlxCNGSSw6QqSIm"
              ><h6 class="text-dark">iv. Rabushka on the Flat Tax (EconTalk)</h6></a>

          </div>



          <div id="c19" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/economics/10.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Market Failures, Externalities and Monopolies</h5>
              </div>
            </div>
          </div>
          <div id="c20" class="p-5">

            <h6 class="text-dark">a. EconLib -  </h6>
            <a href="https://www.econlib.org/library/Topics/College/marketfailures.html"
              ><h6 class="text-dark">i. Market Failures, Public Goods and Externalities</h6></a>
  
            <a href="https://www.econlib.org/library/Enc/Monopoly.html"
              ><h6 class="text-dark">ii. Monopoly</h6></a>
            
            <a href="https://www.econlib.org/library/Enc/Antitrust.html"
              ><h6 class="text-dark">iii. Antitrust (Anti-competitive Laws) </h6></a>

            <h6 class="text-dark">b. Crash Course Economics - </h6>
            <a href="https://youtu.be/13JOGWzY8kE"
            ><h6 class="text-dark">i. Market Failures, Taxes and Subsidies</h6></a>
  
            <a href="https://youtu.be/13JOGWzY8kE"
              ><h6 class="text-dark">ii. Monopolies and Anti-Competitive Markets</h6></a>
            
            <h6 class="text-dark">c. Podcasts -  </h6>
            <a href="https://open.spotify.com/episode/2QVHNkNOhxxreHLR6IJdfB"
            ><h6 class="text-dark">i. Externalities - The Full Cost of the Choices we make (Think Like an Economist)</h6></a>
  
            <a href="https://open.spotify.com/episode/3T4YfRjIXXef3ZBKB5PEpm"
              ><h6 class="text-dark">ii.Matt Stoller on Modern Monopolies (EconTalk)</h6></a>
            <a href="https://open.spotify.com/episode/0Lf3vW22PXPwl5NO7uC3I5"
            ><h6 class="text-dark">iii.Boudreaux on Market Failure, Government Failure and the Economics of Antitrust Regulation (EconTalk)</h6></a>

  
          </div>
  
  
          </div>
    <div class="col-lg-3 d-none d-sm-block"></div>
  </div>
{% endblock %}