{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
    <title>E-Cell NITK | Courses | Course_1</title>
    <meta name="description" content="" />

{% endblock %}

{% block hero %}
<div id="" class="text-center col-12">
    <h1>Entrepreneurship-II</h1>
    <p>
      Nailed the basics of being an entrepreneur in the first part of this <a href="./entrepreneurship.html">pathway</a>? Now dive deeper and learn what it takes to scale to the next level. You will learn how to drive your business beyond the startup phase and achieve massive growth via increased revenue and seeking funding!
    </p>
  </div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3 d-none d-sm-block"></div>
    <div id="course_container" class="col-12 col-lg-6 row">
        <div id="c1" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/entreprenurship/image9.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Refining the Business Model and Product/Service</h5>
              </div>
            </div>
          </div>
        <div id="c2" class="p-5">
            <a
              href="https://www.entrepreneur.com/article/310515#:~:text=The%20term%20%E2%80%9Cpivot%E2%80%9D%20has%20become,the%20original%20business%20model%20unsustainable."
              ><h6 class="text-dark">Pivoting: A Last-Ditch Effort? Sound Business Strategy?</h6></a
            >
            <a
              href="https://fi.co/insight/what-pivoting-is-when-to-pivot-and-how-to-pivot-effectively"
              ><h6 class="text-dark">The What, When and How of Pivoting.</h6></a
            >
            <a href="https://www.forbes.com/sites/jasonnazar/2013/10/08/14-famous-business-pivots/#394722c35797"
              ><h6 class="text-dark">
                14 Famous Business Pivots
              </h6></a
            >
            <a href="https://www.feedough.com/what-is-a-business-model/"
              ><h6 class="text-dark">What Is A Business Model? Here are 30 types!</h6></a>
            
            <a href="https://www.experthub.info/launch/starting-a-business/how-to-guides-starting-a-business/how-to-build-and-refine-a-business-model/"
            ><h6 class="text-dark">Building & Refining a Business Model</h6></a>
  
            <a href="https://www.unltd.org.uk/our-support/learning-area/refining-your-business-model/"
              ><h6 class="text-dark">More on Refining your Business model</h6></a>
  
            <a href="https://www.inc.com/jeff-haden/how-to-write-a-great-business-plan-competitive-analysis.html"
            ><h6 class="text-dark">Let's Write a Great Business Plan!</h6></a>
  
            <a href="https://www.impactbnd.com/blog/5-ways-to-perform-a-competitive-analysis-establish-your-presence"
              ><h6 class="text-dark">Competitive analysis: 5 Easy Steps</h6></a>
            
            <a href="https://productcollective.com/the-case-for-the-entrepreneurial-product-manager/"
            ><h6 class="text-dark">THE ENTREPRENEURIAL PRODUCT MANAGER</h6></a>
          </div>
  
  
          <div id="c3" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/entreprenurship/image10.jpg' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Business Planning</h5>
              </div>
            </div>
          </div>
          <div id="c4" class="p-5">
            <a
              href="https://blog.hubspot.com/sales/ultimate-guide-creating-sales-plan"
              ><h6 class="text-dark">How to Create a Sales Plan</h6></a
            >
            <a href="https://xquadrant.com/people-plan/"
              ><h6 class="text-dark">
                How to make a people plan
              </h6></a
            >
            <a href="https://www.bdc.ca/en/articles-tools/money-finance/manage-finances/pages/6-steps-to-create-your-companys-financial-plan.aspx"
              ><h6 class="text-dark">
                6 steps to create your company’s financial plan
              </h6></a
            >
            <a
              href="https://articles.bplans.com/the-key-elements-of-the-financial-plan/"
              ><h6 class="text-dark">The Key Elements of the Financial Plan</h6></a
            >
            <a
              href="https://www.purchasecontrol.com/blog/procurement-project-planning/"
              ><h6 class="text-dark">How To Create and Implement a Successful procurement Plan</h6></a
            >
          </div>
  
            
          <div id="c5" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/entreprenurship/image11.png' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Exploring ways to increase revenue</h5>
              </div>
            </div>
          </div>
          <div id="c6" class="p-5">
            <a href="https://corporatefinanceinstitute.com/resources/knowledge/accounting/revenue-streams/"
            ><h6 class="text-dark">What are revenue streams?</h6></a>
          
          <a href="https://www.entrepreneur.com/article/312611"
          ><h6 class="text-dark">Passive Income and Multiple Revenue Streams</h6></a>
          </div>
  
          <div id="c7" class="pl-4 pl-md-none">
            <div class="card text-center">
              <img
                src="{% static 'images/entreprenurship/image12.jpg' %}"
                class="card-img-top"
                alt="..."
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Funding the growth</h5>
              </div>
            </div>
          </div>
          <div id="c8" class="p-5">
            
            <a href="https://www.profitbooks.net/funding-options-to-raise-startup-capital-for-your-business/"
              ><h6 class="text-dark">10 Funding Options To Raise Startup Capital For Your Business</h6></a>
            
            <a href="https://www.quicksprout.com/how-to-get-your-startup-funded/"
            ><h6 class="text-dark">9 Ways to Get Your Startup Funded</h6></a>
  
            <a href="https://pitchdeck.improvepresentation.com/what-is-a-pitch-deck"
              ><h6 class="text-dark">What is a pitch deck?</h6></a>
            
            <a href="https://www.forbes.com/sites/alejandrocremades/2018/03/02/how-to-create-a-pitch-deck/#65fa471b56c0"
            ><h6 class="text-dark">How To Create A Pitch Deck</h6></a>
  
          </div>
  
  
          </div>
    <div class="col-lg-3 d-none d-sm-block"></div>
  </div>
{% endblock %}