{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<title>E-Cell NITK | Learning Portal-Entrepreneurship-I</title>
    <meta name="description" content="" />
    <link
      rel="icon"
      href="./src/images/favicon.ico"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="apple-touch-icon" href="./src/images/apple-touch-icon.png" />

    <!--seo tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" cont ent="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block hero %}
<!--first section-->
       <div id="" class="text-center col-12">
         <h1>ENTREPRENEURSHIP</h1>
         <p>
           Start your entrepreneurial journey by building the necessary skills
           required to lead your business. The first module for
           Entrepreneurship covers the entire spectrum of problem-solving,
           revenue streams, pricing models, marketing and branding to boost
           your startup idea!
         </p>
       </div>


  {% endblock %}

  {% block body %}
  <div class="row">
      <div class="col-lg-3 d-none d-sm-block"></div>
      <div id="course_container" class="col-12 col-lg-6 row">
        <div id="c1" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/image1.jpeg"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Introduction</h5>
            </div>
          </div>
        </div>
        <div id="c2" class="p-5">
          <a
            href="https://www.inc.com/matthew-jones/5-easy-steps-to-find-your-flow-every-single-day.html"
            ><h6 class="text-dark">Getting Started</h6></a
          >
          <a href="https://entrepreneurshiptheories.blogspot.com/2017/08/sarasvathy-effectuation-theory.html"
            ><h6 class="text-dark">Introduction to Effectuation</h6></a
          >
          <a href="http://www.marketingangels.fr/blog/the-5-corporate-principles-of-effectuation"
            ><h6 class="text-dark">5 principles of Effectuation</h6></a
          >
          <a href="https://youtu.be/GoLZGSHmkRI"><h6 class="text-dark">Principles of Effectuation</h6></a>
          <a href="https://youtu.be/oC-yWrC0P_E"
            ><h6 class="text-dark">A Brief Guide on Effectuation</h6></a
          >
        </div>
        <div id="c3" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/image2.jpeg"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Opportunity Discovery</h5>
            </div>
          </div>
        </div>
        <div id="c4" class="p-5">
          <a
            href="https://www.teninnovate.com/insights-blog/2015/6/10/how-to-identify-the-big-problem-worth-solving"
            ><h6 class="text-dark">Identifying Problem Worth Solving</h6></a
          >
          <a
            href="https://www.inc.com/alex-fiance/finding-a-problem-worth-solving-3-lessons-from-young-entrepreneurs-who-took-the-.html"
            ><h6 class="text-dark">Finding a Problem Worth Solving</h6></a
          >
          <a href="https://youtu.be/W1cEGHS1exs"
            ><h6 class="text-dark">
              A 6 step process for Opportunity Discovery
            </h6></a
          >
        </div>
        <div id="c5" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/imagenew1.png"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Design Thinking</h5>
            </div>
          </div>
        </div>
        <div id="c6" class="p-5">
          <a href="https://youtu.be/gHGN6hs2gZY"
            ><h6 class="text-dark">
              What is Design Thinking: An Overview
            </h6></a
          >
          <a
            href="https://www.interaction-design.org/literature/topics/design-thinking"
            ><h6 class="text-dark">Introduction to Design Thinking</h6></a
          >
          <a href="https://youtu.be/_r0VX-aU_T8"
            ><h6 class="text-dark">Design thinking process</h6></a
          >
          <a
            href="https://www.interaction-design.org/literature/article/5-stages-in-the-design-thinking-process"
            ><h6 class="text-dark">
              5 stages in the design thinking process
            </h6></a
          >
          <a href="https://youtu.be/YXZamW4-Ysk"
            ><h6 class="text-dark">
              Brainstorming techniques can be used to find solutions
            </h6></a
          >
        </div>
        <div id="c7" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/imagenew2.jpg"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Customer</h5>
            </div>
          </div>
        </div>
        <div id="c8" class="p-5">
          <a href="https://www.feedough.com/customer-vs-consumer-difference/"
            ><h6 class="text-dark">Customer vs Consumer</h6></a
          >
          <a href="https://youtu.be/6y3WIrgp_NY"
            ><h6 class="text-dark">Types of Startups</h6></a
          >
          <a
            href="https://www.cleverism.com/customer-segments-business-model-canvas/"
            ><h6 class="text-dark">Customer Segmentation</h6></a
          >
          <a
            href="https://www.business2community.com/customer-experience/4-types-of-customer-segmentation-all-marketers-should-know-02120397"
            ><h6 class="text-dark">4 types of Customer Segmentation</h6></a
          >
          <a href="https://youtu.be/0srjdRDh99Y"
            ><h6 class="text-dark">
              Segmentation Targeting and Positioning
            </h6></a
          >
          <a href="https://youtu.be/8mjPbWqFut4"
            ><h6 class="text-dark">Niche Marketing</h6></a
          >
        </div>
        <div id="c9" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/imagenew3.jpg"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Value Proposition Canvas</h5>
            </div>
          </div>
        </div>
        <div id="c10" class="p-5">
          <a
            href="https://designabetterbusiness.com/2017/10/12/how-to-really-understand-your-customer-with-the-value-proposition-canvas/"
            ><h6 class="text-dark">
              Understand your Customer with Value Proposition Canvas
            </h6></a
          >
          <a href="https://youtu.be/ReM1uqmVfP0"
            ><h6 class="text-dark">Value Proposition Canvas explained</h6></a
          >
          <a href="https://youtu.be/kiWkRiynPAo"
            ><h6 class="text-dark">
              Value Proposition Canvas Explained with Example
            </h6></a
          >
          <a
            href="https://isaacjeffries.com/blog/2018/2/27/how-to-fill-in-a-value-proposition-canvas"
            ><h6 class="text-dark">
              How to fill in a Value Proposition Canvas
            </h6></a
          >
        </div>
        <div id="c11" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/image4.jpeg"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Business Model</h5>
            </div>
          </div>
        </div>
        <div id="c12" class="p-5">
          <a href="https://youtu.be/IP0cUBWTgpY"
            ><h6 class="text-dark">Introduction to Business Model</h6></a
          >
          <a href="https://youtu.be/k6rWkOjc8Y0"
            ><h6 class="text-dark">The Lean Approach</h6></a
          >
          <a href="https://youtu.be/7o8uYdUaFR4"
            ><h6 class="text-dark">
              Capture your Business Model in 20 Minutes
            </h6></a
          >
          <a href="https://xtensio.com/how-to-create-a-lean-canvas/"
            ><h6 class="text-dark">Fill in your own Business Model</h6></a
          >
        </div>
        <div id="c13" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/image6.jpg"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Revenue</h5>
            </div>
          </div>
        </div>
        <div id="c14" class="p-5">
          <a
            href="https://benpfsmith.wordpress.com/2013/06/26/cost-structure-and-revenue-streams/"
            ><h6 class="text-dark">Cost Structure and Revenue Streams</h6></a
          >
          <a href="https://news.ycombinator.com/item?id=13840282"
            ><h6 class="text-dark">
              Y Combinator Article on Revenue Streams
            </h6></a
          >
          <a
            href="https://www.accountingtools.com/articles/what-is-cost-structure.html#:~:text=Cost%20structure%20refers%20to%20the,%2C%20division%2C%20or%20geographic%20region."
            ><h6 class="text-dark">How to Define your Cost Structure</h6></a
          >
          <a
            href="https://fi.co/insight/the-10-most-popular-startup-revenue-models"
            ><h6 class="text-dark">Popular Revenue Models for Startups</h6></a
          >
          <a
            href="https://www.creativebloq.com/advice/7-pricing-models-and-which-you-should-choose"
            ><h6 class="text-dark">Choosing your Pricing Model</h6></a
          >
          <a
            href="https://economictimes.indiatimes.com/definition/pricing-strategies"
            ><h6 class="text-dark">Choosing the Right Pricing Strategy</h6></a
          >
          <a
            href="https://quickbooks.intuit.com/r/pricing-strategy/4-ways-to-measure-your-profitability/"
            ><h6 class="text-dark">Measuring your Profitability</h6></a
          >
          <a href="http://paulgraham.com/startupfunding.html"
            ><h6 class="text-dark">
              Investor’s Insight from Y Combinator
            </h6></a
          >
          <a href="https://avc.blogs.com/a_vc/2004/07/valuation.html"
            ><h6 class="text-dark">Valuation of Startups</h6></a
          >
          <a
            href="https://vator.tv/news/2010-12-14-how-to-write-a-killer-deck-and-get-funded"
            ><h6 class="text-dark">Pitch Deck Essentials</h6></a
          >
        </div>
        <div id="c15" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/image7.jpg"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Teams</h5>
            </div>
          </div>
        </div>
        <div id="c16" class="p-5">
          <a href="https://www.managementstudyhq.com/types-of-leadership.html"
            ><h6 class="text-dark">Forms of Leaderships</h6></a
          >
          <a
            href="https://recruiterbox.com/blog/11-must-have-recruitment-practices-for-hr-managers-startup-founders"
            ><h6 class="text-dark">Useful Hiring Procedures</h6></a
          >
        </div>
        <div id="c17" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="../../static/images/entreprenurship/image8.png"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Marketing</h5>
            </div>
          </div>
        </div>
        <div id="c18" class="p-5">
          <a
            href="https://marketingland.com/building-a-brand-strategy-essentials-for-long-term-success-240712"
            ><h6 class="text-dark">Why is brand strategy essential</h6></a
          >
          <a href="https://hbr.org/2016/09/the-elements-of-value"
            ><h6 class="text-dark">
              Link Value Proposition with Marketing for B2C
            </h6></a
          >
          <a href="https://hbr.org/2018/03/the-b2b-elements-of-value"
            ><h6 class="text-dark">
              Essential Elements for Value Propositions for B2C
            </h6></a
          >
          <a
            href="https://www.disruptiveadvertising.com/marketing/marketing-channels/"
            ><h6 class="text-dark">Marketing Channels - I</h6></a
          >
          <a
            href="https://smallbusiness.chron.com/types-marketing-channels-21627.html"
            ><h6 class="text-dark">Marketing Channels - II</h6></a
          >
          <a
            href="https://www.lsbf.org.uk/blog/news/analyse-consumer-behaviour/121862#:~:text=Consumer%20behaviour%20analysis%20is%20the,answer%20several%20questions%2C%20such%20as%3A&text=How%20marketing%20campaigns%20can%20be%20improved%20to%20more%20effectively%20influence%20customer%20behaviour."
            ><h6 class="text-dark">Analyse Consumer Behaviour</h6></a
          >
          <a
            href="https://www.omniconvert.com/blog/consumer-behavior-in-marketing-patterns-types-segmentation.html"
            ><h6 class="text-dark">
              Segmentation of Customer Based on Behaviour
            </h6></a
          >
        </div>

        <div id="c19" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="{% static 'images/entreprenurship/image9.png' %}"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Refining the business model and Product/Service</h5>
            </div>
          </div>
        </div>
        <div id="c20" class="p-5">
          <a
            href="https://www.entrepreneur.com/article/310515#:~:text=The%20term%20%E2%80%9Cpivot%E2%80%9D%20has%20become,the%20original%20business%20model%20unsustainable."
            ><h6 class="text-dark">Is Pivoting a Last-Ditch Effort or a Sound Business Strategy? </h6></a
          >
          <a
            href="https://fi.co/insight/what-pivoting-is-when-to-pivot-and-how-to-pivot-effectively"
            ><h6 class="text-dark">What Pivoting is, When to Pivot, and How to Pivot Effectively</h6></a
          >
          <a href="https://www.forbes.com/sites/jasonnazar/2013/10/08/14-famous-business-pivots/#394722c35797"
            ><h6 class="text-dark">
              14 Famous Business Pivots
            </h6></a
          >
          <a href="https://www.feedough.com/what-is-a-business-model/"
            ><h6 class="text-dark">What Is A Business Model? 30 Types Of Business Models</h6></a>
          
          <a href="https://www.experthub.info/launch/starting-a-business/how-to-guides-starting-a-business/how-to-build-and-refine-a-business-model/"
          ><h6 class="text-dark">How to Build and Refine a Business Model</h6></a>

          <a href="https://www.unltd.org.uk/our-support/learning-area/refining-your-business-model/"
            ><h6 class="text-dark">Refining your business model</h6></a>

          <a href="https://www.inc.com/jeff-haden/how-to-write-a-great-business-plan-competitive-analysis.html"
          ><h6 class="text-dark">How to Write a Great Business Plan: Competitive Analysis</h6></a>

          <a href="https://www.impactbnd.com/blog/5-ways-to-perform-a-competitive-analysis-establish-your-presence"
            ><h6 class="text-dark">How to do a competitive analysis in 5 easy steps</h6></a>
          
          <a href="https://productcollective.com/the-case-for-the-entrepreneurial-product-manager/"
          ><h6 class="text-dark">THE CASE FOR THE ENTREPRENEURIAL PRODUCT MANAGER</h6></a>
        </div>


        <div id="c21" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="{% static 'images/entreprenurship/image10.jpg' %}"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Business Planning</h5>
            </div>
          </div>
        </div>
        <div id="c22" class="p-5">
          <a
            href="https://blog.hubspot.com/sales/ultimate-guide-creating-sales-plan"
            ><h6 class="text-dark">How to Create a Sales Plan:</h6></a
          >
          <a href="https://xquadrant.com/people-plan/"
            ><h6 class="text-dark">
              How to make a people plan:
            </h6></a
          >
          <a href="https://www.bdc.ca/en/articles-tools/money-finance/manage-finances/pages/6-steps-to-create-your-companys-financial-plan.aspx"
            ><h6 class="text-dark">
              6 steps to create your company’s financial plan
            </h6></a
          >
          <a
            href="https://articles.bplans.com/the-key-elements-of-the-financial-plan/"
            ><h6 class="text-dark">The Key Elements of the Financial Plan</h6></a
          >
          <a
            href="https://www.purchasecontrol.com/blog/procurement-project-planning/"
            ><h6 class="text-dark">How To Create and Implement a Successful procurement Plan:</h6></a
          >
        </div>

          
        <div id="c23" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="{% static 'images/entreprenurship/image11.png' %}"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Exploring ways to increase revenue</h5>
            </div>
          </div>
        </div>
        <div id="c24" class="p-5">
          <a href="https://corporatefinanceinstitute.com/resources/knowledge/accounting/revenue-streams/"
          ><h6 class="text-dark">What are revenue streams?</h6></a>
        
        <a href="https://www.entrepreneur.com/article/312611"
        ><h6 class="text-dark">Passive Income and Multiple Revenue Streams</h6></a>
        </div>

        <div id="c25" class="pl-4 pl-md-none">
          <div class="card text-center">
            <img
              src="{% static 'images/entreprenurship/image12.jpg' %}"
              class="card-img-top"
              alt="..."
              style="height: 200px"
            />
            <div class="card-body">
              <h5 class="card-title">Funding the growth</h5>
            </div>
          </div>
        </div>
        <div id="c26" class="p-5">
          
          <a href="https://www.profitbooks.net/funding-options-to-raise-startup-capital-for-your-business/"
            ><h6 class="text-dark">10 Funding Options To Raise Startup Capital For Your Business</h6></a>
          
          <a href="https://www.quicksprout.com/how-to-get-your-startup-funded/"
          ><h6 class="text-dark">9 Ways to Get Your Startup Funded</h6></a>

          <a href="https://pitchdeck.improvepresentation.com/what-is-a-pitch-deck"
            ><h6 class="text-dark">What is a pitch deck?</h6></a>
          
          <a href="https://www.forbes.com/sites/alejandrocremades/2018/03/02/how-to-create-a-pitch-deck/#65fa471b56c0"
          ><h6 class="text-dark">How To Create A Pitch Deck</h6></a>

        </div>

      </div>

      <div class="col-lg-3 d-none d-sm-block"></div>
    </div>
  {% endblock %}
