{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<!--title & description-->
   <title>E-Cell NITK | Courses-Finance</title>
   <meta name="description" content="" />
   <link
     rel="icon"
     href="./src/images/favicon.ico"
     type="image/gif"
     sizes="16x16"
   />
   <link rel="apple-touch-icon" href="./src/images/apple-touch-icon.png" />

   <!--seo tags-->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   {% endblock %}

{% block hero %}
<div id="" class="text-center col-12">
          <h1>FINANCE</h1>
          <p>
            The module covers an introduction to the financial world for
            beginners, touching upon an exciting list of subjects, ranging from
            investing and equity markets to the usage of financial ratios and
            basics of portfolio management
          </p>
        </div>

  {% endblock %}

  {% block body %}
  <div class="row">
         <div class="col-lg-3 d-none d-sm-block"></div>
         <div id="course_container" class="col-12 col-lg-6 row">
           <div id="c1" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/image1.jpeg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">Introduction</h5>
               </div>
             </div>
           </div>
           <div id="c2" class="p-5">
             <a href="https://www.investopedia.com/terms/i/investing.asp"
               ><h6 class="text-dark">What is investing?</h6></a
             >
             <a href="https://zerodha.com/varsity/chapter/the-need-to-invest/"
               ><h6 class="text-dark">Why should one Invest?</h6></a
             >
             <a href="https://www.investopedia.com/terms/i/investmentvehicle.asp"
               ><h6 class="text-dark">
                 What Investment vehicles are available?
               </h6></a
             >
           </div>
           <div id="c3" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/image2.jpeg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">Equity Markets</h5>
               </div>
             </div>
           </div>
           <div id="c4" class="p-5">
             <a href="https://www.youtube.com/watch?v=fn3y1hNVgA4"
               ><h6 class="text-dark">What is a stock?</h6></a
             >
             <a href="https://zerodha.com/varsity/chapter/the-stock-markets/"
               ><h6 class="text-dark">What is the Stock Market</h6></a
             >
             <a href="https://m.rediff.com/money/2008/feb/21bspec.htm"
               ><h6 class="text-dark">
                 How is the stock market index calculated
               </h6></a
             >
             <a
               href="https://docs.google.com/document/d/1qrOXVzKlg4e4YOVG2VHi0Ma7qf7if3ar8IaYDWwg1NA/edit"
               ><h6 class="text-dark">
                 How to Invest in the Equity Markets?
               </h6></a
             >
             <a href="https://youtu.be/sMdjVd_RJaU"
               ><h6 class="text-dark">
                 Why do companies list themselves on the Indices?
               </h6></a
             >
           </div>

           <div id="c5" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/images3.jpeg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">The Parties Involved</h5>
               </div>
             </div>
           </div>
           <div id="c6" class="p-5">
             <a href="https://groww.in/p/initial-public-offering"
               ><h6 class="text-dark">The IPO</h6></a
             >
             <a
               href="https://www.thebalance.com/preferred-stock-definition-vs-common-stock-types-3305954"
               ><h6 class="text-dark">Preferred and Common Stocks</h6></a
             >
             <a
               href="https://www.karvyonline.com/knowledge-center/beginner/financial-regulators-in-india"
               ><h6 class="text-dark">The Regulators</h6></a
             >
             <a
               href="https://zerodha.com/varsity/chapter/five-corporate-actions-and-its-impact-on-stock-prices/"
               ><h6 class="text-dark">Actions of a company</h6></a
             >
             <a
               href="https://zerodha.com/varsity/chapter/key-events-and-their-impact-on-markets/"
               ><h6 class="text-dark">Actions of the Government</h6></a
             >
           </div>
           <div id="c7" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/images4.jpeg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">Introduction to Investing</h5>
               </div>
             </div>
           </div>
           <div id="c8" class="p-5">
             <a
               href="https://zerodha.com/varsity/chapter/introduction-fundamental-analysis/"
               ><h6 class="text-dark">Fundamental Analysis</h6></a
             >
             <a href="https://youtu.be/K2na-3o8sto"
               ><h6 class="text-dark">What matters to an Investor</h6></a
             >
             <a
               href="https://zerodha.com/varsity/chapter/equity-research-part-1/"
               ><h6 class="text-dark">
                 Why Investing is more qualitative than Quantitative
               </h6></a
             >
           </div>
           <div id="c9" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/images5.jpeg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">The Financial Statements</h5>
               </div>
             </div>
           </div>
           <div id="c10" class="p-5">
             <a href="https://youtu.be/av_BhR4IIQY"
               ><h6 class="text-dark">The Balance Sheet</h6></a
             >
             <a
               href="https://zerodha.com/varsity/chapter/understanding-pl-statement-part1/"
               ><h6 class="text-dark">For a Basic Understanding</h6></a
             >
             <a href="https://zerodha.com/varsity/chapter/cash-flow-statement/"
               ><h6 class="text-dark">For a Basic Understanding</h6></a
             >
             <a
               href="https://drive.google.com/file/d/1_2yNw1NV7MV6UntNyPF1VRxiu4wnByoj/view?usp=drivesdk"
               ><h6 class="text-dark">
                 For an In-Depth Understanding of the 3 Financial
                 Statements(Highly Recommended)
               </h6></a
             >
           </div>
           <div id="c11" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/images6.jpeg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">Financial Ratios</h5>
               </div>
             </div>
           </div>
           <div id="c12" class="p-5">
             <a
               href="https://drive.google.com/folderview?id=1ZePqmPLXq-jLDB4P98AoKVy7Fr9ibi1i"
               ><h6 class="text-dark">
                 It is best recommended to Read this short Book
               </h6></a
             >
             <a
               href="https://www.accountingtools.com/articles/what-are-the-limitations-of-ratio-analysis.html"
               ><h6 class="text-dark">Limitations of ratio analysis</h6></a
             >
             <a href="https://youtu.be/_sPVwmGFAiA"
               ><h6 class="text-dark">
                 Dividends- What companies pay to thank their shareholders
               </h6></a
             >
             <a
               href="https://docs.google.com/document/d/17GYFCggxlRrH_R1wFrqyqa5DovNXUrIYn185v7PYR_s/edit?usp=drivesdk"
               ><h6 class="text-dark">Before you move on</h6></a
             >
           </div>
           <div id="c13" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/image7.jpg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">
                   Valuations- an art more than a science
                 </h5>
               </div>
             </div>
           </div>
           <div id="c14" class="p-5">
             <a
               href="https://zerodha.com/varsity/chapter/equity-research-part-1/"
               ><h6 class="text-dark">DCF</h6></a
             >
             <a href="https://youtu.be/8eF3fvdE1uA"
               ><h6 class="text-dark">Some other Methods for Valuation</h6></a
             >
             <a href="https://youtu.be/zC-PxAwbUPY"
               ><h6 class="text-dark">The Annual Report</h6></a
             >
             <a
               href="https://docs.google.com/document/d/1hstLqzkYtBYbN_MA9GnP6odfmxFn1VDHzQs_fzPI17I/edit?usp=drivesdk"
               ><h6 class="text-dark">
                 The all-important factor- The Management
               </h6></a
             >
           </div>
           <div id="c15" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/image8.jpg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">Portfolio Management</h5>
               </div>
             </div>
           </div>
           <div id="c16" class="p-5">
             <a href="https://zerodha.com/varsity/chapter/finale/"
               ><h6 class="text-dark">Portfolio Allocation</h6></a
             >
             <a href="http://www.efficientfrontier.com/ef/900/15st.htm"
               ><h6 class="text-dark">Common Stock Diversification myth</h6></a
             >
           </div>
           <div id="c17" class="pl-4 pl-md-none">
             <div class="card text-center">
               <img
                 src="../../static/images/finance/image9.jpg"
                 class="card-img-top"
                 alt="..."
                 style="height: 200px"
               />
               <div class="card-body">
                 <h5 class="card-title">Recommended Knowledge</h5>
               </div>
             </div>
           </div>
           <div id="c18" class="p-5">
             <a href="https://www.youtube.com/c/SagarRV"
               ><h6 class="text-dark">
                 Source for the purpose of understanding only
               </h6></a
             >
           </div>
         </div>

         <div class="col-lg-3 d-none d-sm-block"></div>
       </div>
{% endblock %}
