{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
    <!--title & description-->
<title>E-Cell NITK | Learning Portal</title>
    <meta name="description" content="" />
    <link
      rel="icon"
      href="./src/images/favicon.ico"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="apple-touch-icon" href="./src/images/apple-touch-icon.png" />

    <!--seo tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}
{% block hero %}
  <div class="row">
<div class="text-center col-12">
  <h1>LEARNING PORTAL</h1>
  <p>
    E-Cell NITK believes that constant learning is the key to
    entrepreneurial success. To help kickstart this process, we present
    our own specially made course pathways for beginners, that cover a
    diversified range of subjects. These self-paced pathways are
    designed to orient students towards entrepreneurship and strengthen
    their business acumen and decision making while also catering to the
    interests of all the business enthusiasts out there
  </p>
</div>
<div id="courses_description" class="col-12 container-fluid mb-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card text-center">
        <img
          src="../static/images/entreprenurship/cover.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">ENTREPRENEURSHIP-I</h5>
          <p class="card-text">
            Learn the necessary skills to boost your startup idea!
          </p>
          <a href="./entrepreneurship" class="btn btn-dark"
            >EXPLORE</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card text-center">
        <img
          src="../static/images/finance/cover.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">FINANCE</h5>
          <p class="card-text">
            Dive deeper and explore the world of Finance!
          </p>
          <a href="./finance" class="btn btn-dark">EXPLORE</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card text-center">
        <img
          src="../static/images/crypto/cover.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">CRYPTOCURRENCY</h5>
          <p class="card-text">
            Study about the applications of this new technology!
          </p>
          <a href="./cryptocurrency" class="btn btn-dark"
            >EXPLORE</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block body %}

{% endblock %}
