{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<title>E-Cell NITK | Courses | Course_1</title>
    <meta name="description" content="" />
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />
{% endblock %}

{% block hero %}
<div id="" class="text-center col-12">
    <h1>Marketing</h1>
      <p>
      Find out how to market online for digital content creators and advertisers while also learning about SEO, branding and fundraising in India.
    </p>
</div>

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3 d-none d-sm-block"></div>
    <div id="course_container" class="col-12 col-lg-6 row">
      <div id="c1" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="{% static 'images/Marketing/marketing.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Introduction</h5>  
          </div>
        </div>
      </div>
      <div id="c2" class="p-5">
        <a href="https://www.investopedia.com/terms/m/marketing.asp">
            <h6 class="text-dark">What is Marketing?</h6>
        </a>
        <a href="https://www.ziosolutions.com/inbound-marketing-blog/
        types-of-marketing-overview-of-10-different-marketing-strategies">
            <h6 class="text-dark">Different types of marketing</h6>
        </a>
        <a href="https://movingtargets.com/blog/business-marketing/
        why-marketing-is-so-important/#:~:text=Marketing%20is%20important
        %20because%20it%20helps%20you%20sell%20your%20products,
        is%20ultimately%20what%20drives%20sales">
            <h6 class="text-dark">Why marketing is so important?</h6>
        </a>  
      </div>
      <div id="c3" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="{% static 'images/Marketing/sales.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Sales</h5>
          </div>
        </div>
      </div>
      <div id="c4" class="p-5">
        <a href="https://entrepreneurship.babson.edu/entrepreneurial-sales-and-why-its-important/">
            <h6 class="text-dark">Entrepreneurial Sales</h6>
        </a>
        <a href="https://jawwad.me/entrepreneurial-selling-complete-guide/">
            <h6 class="text-dark">Beginners guide to sales</h6>
        </a>
      </div>

      <div id="c5" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="{% static 'images/Marketing/onlineMarketing.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Online marketing</h5>
          </div>
        </div>
      </div>
      <div id="c6" class="p-5">
        <a href="https://www.webfx.com/Internet-Marketing-Strategy.html">
            <h6 class="text-dark">Online marketing strategy</h6>
        </a>
        <a href="https://sproutsocial.com/insights/social-media-marketing-strategy/">
            <h6 class="text-dark">Social media marketing</h6>
        </a>
        <a href="https://www.lyfemarketing.com/blog/why-is-content-marketing-important/">
            <h6 class="text-dark">Content marketing</h6>
        </a>
        <a href="https://www.wordstream.com/blog/ws/2020/11/23/content-marketing-trends">
            <h6 class="text-dark">Current content marketing trends</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=PJIoYCEmKc8">
            <h6 class="text-dark">Google AdSense(perspective of content marketing)</h6>
        </a>
        <a href="https://www.youtube.com/playlist?list=PLSE56_XMrIBxqM2b4fYOik-Zuht_7_yRN">
            <h6 class="text-dark">Complete guide to Google AdSense</h6>
        </a>
        <a href="https://support.google.com/adsense/answer/9335564">
            <h6 class="text-dark">AdSense policy</h6>
        </a>
        <a href="https://support.google.com/adsense/answer/1348695?hl=en">
            <h6 class="text-dark">How to make privacy policy in your website to use AdSense</h6>
        </a>
      </div>
         <div id="c7" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="{% static 'images/Marketing/onlineAds.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Online advertising</h5>
          </div>
        </div>
      </div>
      <div id="c8" class="p-5">
        <a href="https://www.youtube.com/watch?v=WmepvHQOHXg&pbjreload=101">
            <h6 class="text-dark">Google AdWords ( for creating an ad campaign using google)</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=gi4yDTUar_8">
            <h6 class="text-dark">Facebook ads(includes Instagram)</h6>
        </a>
      </div>

      <div id="c9" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="{% static 'images/Marketing/seo.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">SEO</h5>
          </div>
        </div>
      </div>
      <div id="c10" class="p-5">
        <a href="https://moz.com/beginners-guide-to-seo">
            <h6 class="text-dark">All about SEO</h6>
        </a>
      </div>

      <div id="c11" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="{% static 'images/Marketing/Branding.png' %}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Branding</h5>
          </div>
        </div>
      </div>
      <div id="c12" class="p-5">
        <a href="https://www.oberlo.in/ecommerce-wiki/branding#
        :~:text=Branding%20is%20the%20process%20of,theme%20throughout
        %20all%20marketing%20communications">
            <h6 class="text-dark">Branding</h6>
        </a>
        <a href="https://www.shopify.in/blog/how-to-build-a-brand">
            <h6 class="text-dark">7 steps to building a brand</h6>
        </a>
        <a href="https://www.entrepreneur.com/article/317724">
            <h6 class="text-dark">Idea validation</h6>
        </a>
        <a href="https://www.shopify.in/blog/how-to-price-your-product">
            <h6 class="text-dark">How to price a product</h6>
        </a>
        <a href="https://www.profitbooks.net/funding-options-to-raise-startup-capital-for-your-business/">
            <h6 class="text-dark">Fundraising tips (in India)</h6>
        </a>
        <a href="https://www.startupindia.gov.in/content/sih/en/looking_for_funding.html">
            <h6 class="text-dark">Funding plan for a healthy startup</h6>
        </a>
      </div>


    </div>

    <div class="col-lg-3 d-none d-sm-block"></div>
  </div>
{% endblock %}