{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
    <title>E-Cell NITK | Courses | Course_1</title>
    <meta name="description" content="" />
    <link
      rel="icon"
      href="../../static/images/favicon.ico"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="apple-touch-icon" href="../../static/images/apple-touch-icon.png" />

    <!--seo tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

{% endblock %}

{% block hero %}
  <div id="" class="text-center col-12">
    <h1>Product Management</h1>
    <p>
      Find out how you can build and manage great products that solve real 
      customer problems and earn profitability in an organisation.
    </p>
  </div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3 d-none d-sm-block"></div>
    <div id="course_container" class="col-12 col-lg-6 row">
      <div id="c1" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image11.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Introduction</h5>
          </div>
        </div>
      </div>
      <div id="c2" class="p-5">
        <a href="https://www.youtube.com/watch?v=2dczveSrsv8&ab_channel=upGrad">
         <h6 class="text-dark">What is Product Management?</h6>
        </a> 
        <a href="https://280group.com/what-is-product-management/roles/product-manager/">
          <h6 class="text-dark">Roles and responsibilities of a PM</h6>
        </a>
        <a href="https://productschool.com/blog/product-management-2/5-product-management-myths-busted/">
          <h6 class="text-dark">Some PM myths debunked</h6>
        </a>
        <a href="https://www.hotjar.com/blog/product-management/">
          <h6 class="text-dark">Further Reading!</h6>
        </a>
      </div>

      <div id="c3" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image9.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Minimum Viable Product - MVP</h5>
          </div>
        </div>
      </div>

      <div id="c4" class="p-5">
        <a href="https://www.youtube.com/watch?v=ixpphYTDiOM&ab_channel=railsware">
          <h6 class="text-dark">Definition, an example & benefits</h6>
        </a>
        <a href="https://jproco.medium.com/build-a-minimum-viable-product-for-your-customers-not-for-you-4e1249f95e41">
          <h6 class="text-dark">Questions to ask yourself</h6>
        </a>
        <a href="https://www.revelx.co/blog/minimal-viable-product-examples/">
          <h6 class="text-dark">8 inspiring MVP Examples</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=xPJoq_QVsY4&ab_channel=DevelopmentThatPays">
          <h6 class="text-dark">Some more examples!</h6>
        </a>
      </div>

      <div id="c5" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image3.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Product Market Fit - PMF</h5>
          </div>
        </div>
      </div>

      <div id="c6" class="p-5">
        <a href="https://www.hotjar.com/grow-your-saas-startup/product-market-fit/">
          <h6 class="text-dark">The “What?” & “How?” of PMF (SaaS Context)</h6>
        </a>
        <a href="https://a16z.com/2017/02/18/12-things-about-product-market-fit/">
          <h6 class="text-dark">The Process & Misconceptions</h6>
        </a>
        <a href="https://review.firstround.com/how-superhuman-built-an-engine-to-find-product-market-fit">
          <h6 class="text-dark">Case Study: Superhuman</h6>
        </a>
      </div>

            <div id="c7" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Market Research & Customer Development</h5>
          </div>
        </div>
      </div>

      <div id="c8" class="p-5">
        <a href="https://www.organizing4innovation.com/customer-discovery-versus-market-research/">
          <h6 class="text-dark">The Difference</h6>
        </a>
        <a href="https://win-loss.agency/post/product-management-market-research/">
          <h6 class="text-dark">Market Research for PMs </h6>
        </a>
        <a href="https://blog.hubspot.com/marketing/market-research-buyers-journey-guide">
          <h6 class="text-dark">Market Research - The “How?”</h6>
        </a>
        <a href="https://www.cobloom.com/blog/customer-development-a-no-nonsense-introduction#">
          <h6 class="text-dark">Customer Development - The “How?”</h6>
        </a>
        <a href="https://www.smaply.com/blog/personas">
          <h6 class="text-dark">Personas</h6>
        </a>
        <a href="https://jtbd.info/2-what-is-jobs-to-be-done-jtbd-796b82081cca">
          <h6 class="text-dark">Jobs to be done (JTBD)</h6>
        </a>
        <a href="https://blog.marketresearch.com/5-steps-to-estimate-market-size">
          <h6 class="text-dark">Estimating Market Size</h6>
        </a>
        <a href="https://www.aha.io/roadmapping/guide/product-strategy/how-should-product-managers-research-competitors#:~:text=Competitive%20research%20involves%20capturing%20information,unique%20their%20idea%20truly%20is">
          <h6 class="text-dark">Researching Competitors</h6>
        </a>
        
      </div>

      <div id="c9" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image5.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Product Pricing Strategy</h5>
          </div>
        </div>
      </div>

      <div id="c10" class="p-5">
        <a href="https://sumo.com/stories/how-to-price-a-product">
          <h6 class="text-dark">A 3-Step Pricing Guide</h6>
        </a>
        <a href="https://blog.hubspot.com/sales/pricing-strategy">
          <h6 class="text-dark">Types of Pricing Strategies</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=4t_MEO_la_k&ab_channel=EvanCarmichael">
          <h6 class="text-dark">Adding Value to your Audience & Underpricing</h6>
        </a>
        <a href="https://neilpatel.com/blog/5-psychological-studies/">
          <h6 class="text-dark">Psychological Studies on Pricing</h6>
        </a>
        <a href="https://www.productplan.com/product-management-pricing-strategy/">
          <h6 class="text-dark">Role of a PM in Pricing</h6>
        </a> 
      </div>

      <div id="c11" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image6.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Product & Go-To-Market (GTM) Strategy</h5>
          </div>
        </div>
      </div>

      <div id="c12" class="p-5">
        <a href="https://www.aha.io/blog/product-strategy-vs-go-to-market-strategy">
          <h6 class="text-dark">The Difference</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=ebwo_BX_VtU&ab_channel=AJ%26Smart">
          <h6 class="text-dark">Product Strategy - An Overview</h6>
        </a>
        <a href="https://blog.hubspot.com/service/product-strategy">
          <h6 class="text-dark">A straightforward guide </h6>
        </a>
        <a href="https://www.youtube.com/watch?v=S8tuwvIi518&ab_channel=PRODUCTIZED">
          <h6 class="text-dark">Using Data</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=S414mQ1kbLc&ab_channel=IntheFunnel-SalesCoaching">
          <h6 class="text-dark">GTM Strategy - An Overview</h6>
        </a> 
        <a href="https://blog.hubspot.com/sales/gtm-strategy">
          <h6 class="text-dark">GTM Strategy Developing Process</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=d8GYM6kNy10&feature=youtu.be&ab_channel=LatAmStartups">
          <h6 class="text-dark">Elements of a killer GTM</h6>
        </a>
        <a href="https://www.lennysnewsletter.com/p/how-the-biggest-consumer-apps-got">
          <h6 class="text-dark">Some great examples you should check out!</h6>
        </a>
      </div>

      <div id="c13" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Roadmaps & Prioritisation</h5>
          </div>
        </div>
      </div>

      <div id="c14" class="p-5">
        <a href="https://gibsonbiddle.medium.com/7-the-product-roadmap-bf8830d81c19">
          <h6 class="text-dark">Product Roadmaps - Introduction</h6>
        </a>
        <a href="https://hackernoon.com/how-to-build-a-product-roadmap-76b538923c6f">
          <h6 class="text-dark">Building a Roadmap</h6>
        </a>
        <a href="https://rangle.io/blog/building-product-roadmaps/">
          <h6 class="text-dark">How to Avoid Common Pitfalls</h6>
        </a>
        <a href="https://roadmunk.com/guides/product-prioritization-techniques-product-managers/">
          <h6 class="text-dark">Product Prioritisation Frameworks</h6>
        </a>
        <a href="https://www.intercom.com/blog/rice-simple-prioritization-for-product-managers/?amp&__twitter_impression=true">
          <h6 class="text-dark">More about RICE</h6>
        </a> 
        <a href="https://www.appcues.com/blog/product-prioritization">
          <h6 class="text-dark">Prioritisation Secret Sauce</h6>
        </a>
      </div>

      <div id="c15" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image10.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Product Metrics</h5>
          </div>
        </div>
      </div>

      <div id="c16" class="p-5">
        <a href="https://www.youtube.com/watch?v=h9yxvvQaI0I&ab_channel=FullStory">
          <h6 class="text-dark">Introduction</h6>
        </a>
        <a href="https://www.altexsoft.com/blog/business/15-key-product-management-metrics-and-kpis/">
          <h6 class="text-dark">15 PM Metrics and KPIs</h6>
        </a>
        <a href="https://www.departmentofproduct.com/blog/metrics-matter-product-managers/">
          <h6 class="text-dark">Comprehensive Product-wise metrics list</h6>
        </a>
        <a href="https://tim.blog/2009/05/19/vanity-metrics-vs-actionable-metrics/">
          <h6 class="text-dark">Vanity vs Actionable Metrics</h6>
        </a>
        <a href="https://productmanagerhq.com/pms-metrics-north-star-metrics/">
          <h6 class="text-dark">North Star Metrics</h6>
        </a> 
        <a href="https://www.youtube.com/watch?v=MABmQhOlmJA&ab_channel=YCombinator">
          <h6 class="text-dark">Y-Combinator: How to Measure your Product?</h6>
        </a>
        <a href="https://www.sequoiacap.com/article/defining-product-success-metrics-and-goals">
          <h6 class="text-dark">Defining Product Success</h6>
        </a> 
        <a href="https://www.youtube.com/watch?v=Ktuf1UFouTU&ab_channel=Amplitude">
          <h6 class="text-dark">Analytics for Better Products</h6>
        </a> 
      </div>

      <div id="c17" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image7.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Becoming a Product Leader</h5>
          </div>
        </div>
      </div>

      <div id="c18" class="p-5">
        <a href="https://www.ravi-mehta.com/product-manager-roles/">
          <h6 class="text-dark">Skills you require & PM Competencies</h6>
        </a>
        <a href="https://www.linkedin.com/pulse/good-product-managers-great-shreyas-doshi/">
          <h6 class="text-dark">Good PMs & Great PMs</h6>
        </a>
        <a href="https://alearningaday.blog/2017/10/29/product-leadership-vs-product-management/">
          <h6 class="text-dark">Product Leadership vs Product Management</h6>
        </a>
        <a href="https://www.reforge.com/blog/crossing-the-canyon-product-manager-to-product-leader">
          <h6 class="text-dark">The Transition</h6>
        </a>
        <a href="https://danielelizalde.com/what-it-takes-to-be-a-great-product-leader-the-four-pillars/">
          <h6 class="text-dark">4 Pillars of Product Leadership</h6>
        </a> 
      </div>

      <div id="c19" class="pl-4 pl-md-none">
        <div class="card text-center">
          <img
            src="../../static/images/productManage//image8.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">(Bonus!) Embarking on your Product Career</h5>
          </div>
        </div>
      </div>

      <div id="c20" class="p-5">
        <a href="https://product.hubspot.com/blog/4-ways-to-get-into-product-management">
          <h6 class="text-dark">How to get into PM as a beginner?</h6>
        </a>
        <a href="https://www.youtube.com/watch?v=61M1r69ZWDg&ab_channel=upGrad">
          <h6 class="text-dark">How to Crack the PM Interview?</h6>
        </a>
        <a href="https://productmanagerhq.com/product-manager-interview-questions/">
          <h6 class="text-dark">80+ PM Interview Questions</h6>
        </a>
      </div>

    </div>

    <div class="col-lg-3 d-none d-sm-block"></div>
  </div>
{% endblock %}