{% extends 'base.html' %}
{% load static %}

{% block title_meta %}
<title>E-Cell NITK | Recruitments</title>
<meta name="description" content="" />
{% endblock %}


{% block body %}
<section id="recruitments-form" class="container-fluid">
<div class="row justify-content-center">
  <div class="rec-form col-md-7 col-sm-9 bg-white mt-3 mb-5 py-2">
    {% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{success_message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    
    {% if error_message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{error_message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    <h2 class="text-center font-weight-bold mt-4 mb-3 py-2">E-Cell Recruitments</h2>
    <h3 class="text-center font-weight-bold mt-2 mb-4 py-2">Management Team</h3>
    <h5 class="text-dark d-flex justify-content-center mx-5"><b>Round 1</b></h5>
    <div class="rec-form-box mx-md-5 mx-sm-2">
      <p>The Management team is the backbone of club operations. The entire club bands together to
        brainstorm, organize and execute a variety of initiatives including but not limited to the Startup Internship
        Program,
        Building Blocks of Business, Learning Portal throughout the year as well as events like E-Summit, Hult Prize,
        Enterprise
        and so on.<br><br>
        Please fill in the details and be a step closer to joining our team!<br><br>

        Registration Deadline: <br><br>

        For further information, contact: <br>
        Supritha Harishankar: +91 9901680920 <br>
        Reetesh Bhat: +91 8971071692<br>
        Rohit Handique: +91 8473926299<br>
      </p>  
      <form action="/recruitment/management" method="POST">
        {% csrf_token %}
        <div class="rec-input mb-3 px-3">
          <label for="name" class="font-weight-bold">Full Name</label>
          <input type="text" name="name" required>
        </div>
        <div class="rec-input mb-3 px-3">
          <label for="email" class="font-weight-bold">Email ID (EDU account)</label>
          <input type="email" name="email" required>
        </div>
        <div class="rec-input mb-3 px-3">
          <label for="text" class="font-weight-bold">Contact Number (Whatsapp)</label>
          <input type="text" name="phone" maxlength="10">
        </div>
        <div class="rec-input mb-5 px-3">
          <label for="rollnum" class="font-weight-bold">Roll Number</label>
          <input type="text" name="roll_number" maxlength="8">
        </div>
        <p>
          We want to see how creative you can get. Please keep your answers brief as it will be judged on the basis of
          its
          uniqueness and creativity, not its length. The answers to these questions hold a certain weightage in our
          recruitment
          process, so try to give your best!<br><br>
          Word Limit (For each answer) : 200 Words <br>
        </p>
        <div class="rec-input-textarea mb-3">
          <label for="answer1" class="font-weight-bold">
            Keeping in mind the pandemic, how can you help grow the entrepreneurship environment in college?
          </label>
          <textarea id="" name="answer1" rows="6"></textarea>
        </div>
        <div class="rec-input-textarea mb-3">
          <label for="answer2" class="font-weight-bold">
            With everyone working from home, what would be a startup that you could create, keeping them as your target
            audience?
          </label>
          <textarea id="" name="answer2" rows="6"></textarea>
        </div>
        <div class="rec-input-textarea mb-3">
          <label for="answer3" class="font-weight-bold">
            Do you think there’s a difference between creating a product and creating a business? State yes/no and give
            reasons with examples from your surroundings.
          </label>
          <textarea id="" name="answer3" rows="6"></textarea>
        </div>
        <div class="rec-input-check my-2">
          <p class="font-weight-bold">Do you wish to apply to the Media and/or Website team as well?</p>
          <input type="checkbox" name="media" value="1">
          <label for="media">Media Team</label><br>
          <input type="checkbox" name="web" value="1">
          <label for="Website">Website Team</label>
        </div>
        <div class="rec-input-radio my-2">
          <p class="font-weight-bold">Are you interested in content writing?</p>
          <input type="radio" name="content_writing" value="yes">
          <label for="yes">Yes</label> &nbsp;
          <input type="radio" name="content_writing" value="no">
          <label for="no">No</label>
        </div>
        <div class="text-center">
          <button class="rec-form-btn hvr-grow my-5 px-3" type="submit">Submit</button>
        </div>
        </button>
      </form>
    </div>
  </div>
</div>
</section>
{% endblock %}